---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/marketplace/v2/local-images?image_label=ubuntu_noble&order_by=type_asc&type=unknown_type&zone=fr-par-1
    method: GET
  response:
    body: '{"local_images":[{"id":"c5c72a76-0e9b-437b-a6c9-980d7163c152","arch":"x86_64","zone":"fr-par-1","compatible_commercial_types":["DEV1-L","DEV1-M","DEV1-S","DEV1-XL","GP1-L","GP1-M","GP1-S","GP1-XL","GP1-XS","STARDUST1-S","START1-L","START1-M","START1-S","START1-XS","VC1L","VC1M","VC1S","X64-120GB","X64-15GB","X64-30GB","X64-60GB"],"label":"ubuntu_noble","type":"instance_local"},{"id":"95ec2a11-243f-4feb-8efa-155594e2c201","arch":"x86_64","zone":"fr-par-1","compatible_commercial_types":["DEV1-L","DEV1-M","DEV1-S","DEV1-XL","GP1-L","GP1-M","GP1-S","GP1-XL","GP1-XS","START1-L","START1-M","START1-S","START1-XS","VC1L","VC1M","VC1S","X64-120GB","X64-15GB","X64-30GB","X64-60GB","ENT1-XXS","ENT1-XS","ENT1-S","ENT1-M","ENT1-L","ENT1-XL","ENT1-2XL","PRO2-XXS","PRO2-XS","PRO2-S","PRO2-M","PRO2-L","STARDUST1-S","PLAY2-MICRO","PLAY2-NANO","PLAY2-PICO","POP2-2C-8G","POP2-4C-16G","POP2-8C-32G","POP2-16C-64G","POP2-32C-128G","POP2-48C-192G","POP2-64C-256G","POP2-HM-2C-16G","POP2-HM-4C-32G","POP2-HM-8C-64G","POP2-HM-16C-128G","POP2-HM-32C-256G","POP2-HM-48C-384G","POP2-HM-64C-512G","POP2-HC-2C-4G","POP2-HC-4C-8G","POP2-HC-8C-16G","POP2-HC-16C-32G","POP2-HC-32C-64G","POP2-HC-48C-96G","POP2-HC-64C-128G","POP2-HN-3","POP2-HN-5","POP2-HN-10"],"label":"ubuntu_noble","type":"instance_sbs"},{"id":"e5758c61-4375-4ce5-b3d5-2f9ffd2b682d","arch":"arm64","zone":"fr-par-1","compatible_commercial_types":["COPARM1-2C-8G","COPARM1-4C-16G","COPARM1-8C-32G","COPARM1-16C-64G","COPARM1-32C-128G"],"label":"ubuntu_noble","type":"instance_sbs"}],"total_count":3}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"srv-quirky-wing","commercial_type":"GP1-XS","image":"c5c72a76-0e9b-437b-a6c9-980d7163c152","project":"19a4819b-24bf-4d44-969f-935ef0061b71"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: '{"server": {"id": "81887650-5403-4e37-910d-1cfa6bad0b09", "name": "srv-quirky-wing",
      "arch": "x86_64", "commercial_type": "GP1-XS", "boot_type": "local", "organization":
      "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71",
      "hostname": "srv-quirky-wing", "image": {"id": "c5c72a76-0e9b-437b-a6c9-980d7163c152",
      "name": "Ubuntu 24.04 Noble Numbat", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "c9aa87c7-29a5-4f6c-a4ec-38013b0c12f8",
      "name": "Ubuntu 24.04 Noble Numbat", "volume_type": "l_ssd", "size": 10000000000},
      "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2025-06-25T12:56:49.762531+00:00",
      "modification_date": "2025-06-25T12:56:49.762531+00:00", "default_bootscript":
      null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"},
      "volumes": {"0": {"boot": false, "id": "24791535-cc10-48e2-ba99-0232a95dc7f0",
      "name": "Ubuntu 24.04 Noble Numbat", "volume_type": "l_ssd", "export_uri": null,
      "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71",
      "server": {"id": "81887650-5403-4e37-910d-1cfa6bad0b09", "name": "srv-quirky-wing"},
      "size": 150000000000, "state": "available", "creation_date": "2025-07-03T23:53:33.021791+00:00",
      "modification_date": "2025-07-03T23:53:33.021791+00:00", "tags": [], "zone":
      "fr-par-1"}}, "tags": [], "state": "stopped", "protected": false, "state_detail":
      "", "public_ip": null, "public_ips": [], "mac_address": "de:00:00:bb:08:9b",
      "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required":
      true, "enable_ipv6": false, "private_ip": null, "creation_date": "2025-07-03T23:53:33.021791+00:00",
      "modification_date": "2025-07-03T23:53:33.021791+00:00", "bootscript": null,
      "security_group": {"id": "2d7d322d-5ca8-4eea-9fdf-3885ed983d91", "name": "Default
      security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron",
      "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1",
      "filesystems": [], "end_of_service": false}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/81887650-5403-4e37-910d-1cfa6bad0b09
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/marketplace/v2/local-images/c5c72a76-0e9b-437b-a6c9-980d7163c152
    method: GET
  response:
    body: '{"id":"c5c72a76-0e9b-437b-a6c9-980d7163c152","arch":"x86_64","zone":"fr-par-1","compatible_commercial_types":["DEV1-L","DEV1-M","DEV1-S","DEV1-XL","GP1-L","GP1-M","GP1-S","GP1-XL","GP1-XS","STARDUST1-S","START1-L","START1-M","START1-S","START1-XS","VC1L","VC1M","VC1S","X64-120GB","X64-15GB","X64-30GB","X64-60GB"],"label":"ubuntu_noble","type":"instance_local"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/81887650-5403-4e37-910d-1cfa6bad0b09
    method: GET
  response:
    body: '{"server": {"id": "81887650-5403-4e37-910d-1cfa6bad0b09", "name": "srv-quirky-wing",
      "arch": "x86_64", "commercial_type": "GP1-XS", "boot_type": "local", "organization":
      "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71",
      "hostname": "srv-quirky-wi[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/24791535-cc10-48e2-ba99-0232a95dc7f0
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/marketplace/v2/local-images?image_label=ubuntu_noble&order_by=type_asc&type=instance_sbs&zone=fr-par-1
    method: GET
  response:
    body: '{"local_images":[{"id":"95ec2a11-243f-4feb-8efa-155594e2c201","arch":"x86_64","zone":"fr-par-1","compatible_commercial_types":["DEV1-L","DEV1-M","DEV1-S","DEV1-XL","GP1-L","GP1-M","GP1-S","GP1-XL","GP1-XS","START1-L","START1-M","START1-S","START1-XS","VC1L","VC1M","VC1S","X[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/9fdfc18e-d0fb-4b98-8da2-586420a5df5f
    method: GET
  response:
    body: '{"id":"9fdfc18e-d0fb-4b98-8da2-586420a5df5f","name":"Ubuntu 24.04 Noble
      Numbat_sbs_volume_0","type":"sbs_5k","size":15000000000,"project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","created_at":"2025-07-03T23:53:34.184488Z","updated_at":"2025-07-03T23:53:34.184488Z","references":[{"id":"e2e1349e-2378-4568-8e2e-4e406883266d","product_resource_type":"instance_server","product_resource_id":"f2c898df-0cf8-4b12-802f-2faf7c488ab5","created_at":"2025-07-03T23:53:34.184488Z","type":"exclusive","status":"attached"}],"parent_snapshot_id":"e9dae602-1f3d-44c3-b377-a6aed7af0e7e","status":"in_use","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/marketplace/v2/local-images?image_label=ubuntu_noble&order_by=type_asc&type=instance_local&zone=fr-par-1
    method: GET
  response:
    body: '{"local_images":[{"id":"c5c72a76-0e9b-437b-a6c9-980d7163c152","arch":"x86_64","zone":"fr-par-1","compatible_commercial_types":["DEV1-L","DEV1-M","DEV1-S","DEV1-XL","GP1-L","GP1-M","GP1-S","GP1-XL","GP1-XS","STARDUST1-S","START1-L","START1-M","START1-S","START1-XS","VC1L","VC1M","VC1S","X64-120GB","X64-15GB","X64-30GB","X64-60GB"],"label":"ubuntu_noble","type":"instance_local"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"vol-jovial-visvesvaraya","perf_iops":5000,"project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","from_empty":{"size":15000000000},"tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"id":"cf697d2b-bc1e-4356-a317-74b2d91a3642","name":"vol-jovial-visvesvaraya","type":"sbs_5k","size":15000000000,"project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","created_at":"2025-07-03T23:53:41.373059Z","updated_at":"2025-07-03T23:53:41.373059Z","references":[],"parent_snapshot_id":null,"status":"creating","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"volume_id":"cf697d2b-bc1e-4356-a317-74b2d91a3642","name":"snp-confident-elgamal","project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"id":"6d3f9df3-60b1-4bd0-8c80-aed482c01140","name":"snp-confident-elgamal","parent_volume":{"id":"cf697d2b-bc1e-4356-a317-74b2d91a3642","name":"vol-jovial-visvesvaraya","type":"sbs_5k","status":"available"},"size":15000000000,"project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","created_at":"2025-07-03T23:53:46.596910Z","updated_at":"2025-07-03T23:53:46.596910Z","references":[],"status":"creating","tags":[],"class":"sbs","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/6d3f9df3-60b1-4bd0-8c80-aed482c01140
    method: GET
  response:
    body: '{"id":"6d3f9df3-60b1-4bd0-8c80-aed482c01140","name":"snp-confident-elgamal","parent_volume":{"id":"cf697d2b-bc1e-4356-a317-74b2d91a3642","name":"vol-jovial-visvesvaraya","type":"sbs_5k","status":"available"},"size":15000000000,"project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","created_at":"2025-07-03T23:53:46.596910Z","updated_at":"2025-07-03T23:53:46.596910Z","references":[],"status":"creating","tags":[],"class":"sbs","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"srv-funny-khorana","commercial_type":"GP1-XS","image":"95ec2a11-243f-4feb-8efa-155594e2c201","volumes":{"0":{"name":"sbs-volume-from-snap","volume_type":"sbs_volume","base_snapshot":"6d3f9df3-60b1-4bd0-8c80-aed482c01140"}},"project":"19a4819b-24bf-4d44-969f-935ef0061b71"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: '{"server": {"id": "8ccba46a-4b89-4277-a662-e46949a0f0fb", "name": "srv-funny-khorana",
      "arch": "x86_64", "commercial_type": "GP1-XS", "boot_type": "local", "organization":
      "fa1e3217-dc80-42ac-85c3-3f034b78b552", "pro[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/6d3f9df3-60b1-4bd0-8c80-aed482c01140
    method: DELETE
  response:
    body: '{"message": "resource is not found", "type": "not_found", "resource": "instance_snapshot",
      "resource_id": "6d3f9df3-60b1-4bd0-8c80-aed482c01140"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/marketplace/v2/local-images?image_label=ubuntu_focal&order_by=type_asc&type=instance_local&zone=fr-par-1
    method: GET
  response:
    body: '{"local_images":[{"id":"4a4d2994-e7e0-4b29-a760-36235e6ba258","arch":"x86_64","zone":"fr-par-1","compatible_commercial_types":["DEV1-L","DEV1-M","DEV1-S","DEV1-XL","GP1-L","GP1-M","GP1-S","GP1-XL","GP1-XS","STARDUST1-S","START1-L","START1-M","START1-S","START1-XS","VC1L","VC1M","VC1S","X64-120GB","X64-15GB","X64-30GB","X64-60GB"],"label":"ubuntu_focal","type":"instance_local"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"snp-reverent-blackburn","volume_id":"800f51c5-d519-485e-a114-9aa7a9c8d20e","project":"19a4819b-24bf-4d44-969f-935ef0061b71","volume_type":"l_ssd"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "25957e58-ceaa-4ec9-9167-73f06e947699", "name": "snp-reverent-blackburn",
      "volume_type": "l_ssd", "creation_date": "2025-07-03T23:53:59.254516+00:00",
      "modification_date": "2025-07-03T23:53:59.254516+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "size": 15000000000, "state":
      "available", "base_volume": {"id": "800f51c5-d519-485e-a114-9aa7a9c8d20e", "name":
      "Ubuntu 20.04 Focal Fossa"}, "tags": [], "zone": "fr-par-1", "error_details":
      null}, "task": {"id": "9fd878a6-5d5c-448a-ae1b-3519dd8a9b62", "description":
      "volume_snapshot", "status": "pending", "href_from": "/snapshots", "href_result":
      "snapshots/25957e58-ceaa-4ec9-9167-73f06e947699", "started_at": "2025-07-03T23:53:59.487341+00:00",
      "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
