---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/marketplace/v2/local-images?image_label=ubuntu_noble&order_by=type_asc&type=unknown_type&zone=fr-par-1
    method: GET
  response:
    body: '{"local_images":[{"id":"c5c72a76-0e9b-437b-a6c9-980d7163c152","arch":"x86_64","zone":"fr-par-1","compatible_commercial_types":["DEV1-L","DEV1-M","DEV1-S","DEV1-XL","GP1-L","GP1-M","GP1-S","GP1-XL","GP1-XS","STARDUST1-S","START1-L","START1-M","START1-S","START1-XS","VC1L","VC1M","VC1S","X64-120GB","X64-15GB","X64-30GB","X64-60GB"],"label":"ubuntu_noble","type":"instance_local"},{"id":"95ec2a11-243f-4feb-8efa-155594e2c201","arch":"x86_64","zone":"fr-par-1","compatible_commercial_types":["DEV1-L","DEV1-M","DEV1-S","DEV1-XL","GP1-L","GP1-M","GP1-S","GP1-XL","GP1-XS","START1-L","START1-M","START1-S","START1-XS","VC1L","VC1M","VC1S","X64-120GB","X64-15GB","X64-30GB","X64-60GB","ENT1-XXS","ENT1-XS","ENT1-S","ENT1-M","ENT1-L","ENT1-XL","ENT1-2XL","PRO2-XXS","PRO2-XS","PRO2-S","PRO2-M","PRO2-L","STARDUST1-S","PLAY2-MICRO","PLAY2-NANO","PLAY2-PICO","POP2-2C-8G","POP2-4C-16G","POP2-8C-32G","POP2-16C-64G","POP2-32C-128G","POP2-48C-192G","POP2-64C-256G","POP2-HM-2C-16G","POP2-HM-4C-32G","POP2-HM-8C-64G","POP2-HM-16C-128G","POP2-HM-32C-256G","POP2-HM-48C-384G","POP2-HM-64C-512G","POP2-HC-2C-4G","POP2-HC-4C-8G","POP2-HC-8C-16G","POP2-HC-16C-32G","POP2-HC-32C-64G","POP2-HC-48C-96G","POP2-HC-64C-128G","POP2-HN-3","POP2-HN-5","POP2-HN-10"],"label":"ubuntu_noble","type":"instance_sbs"},{"id":"e5758c61-4375-4ce5-b3d5-2f9ffd2b682d","arch":"arm64","zone":"fr-par-1","compatible_commercial_types":["COPARM1-2C-8G","COPARM1-4C-16G","COPARM1-8C-32G","COPARM1-16C-64G","COPARM1-32C-128G"],"label":"ubuntu_noble","type":"instance_sbs"}],"total_count":3}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"srv-cool-morse","commercial_type":"GP1-XS","image":"c5c72a76-0e9b-437b-a6c9-980d7163c152","project":"19a4819b-24bf-4d44-969f-935ef0061b71"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: '{"server": {"id": "8a758f2e-6a09-46da-9657-c0862af587ce", "name": "srv-cool-morse",
      "arch": "x86_64", "commercial_type": "GP1-XS", "boot_type": "local", "organization":
      "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71",
      "hostname": "srv-cool-morse", "image": {"id": "c5c72a76-0e9b-437b-a6c9-980d7163c152",
      "name": "Ubuntu 24.04 Noble Numbat", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "c9aa87c7-29a5-4f6c-a4ec-38013b0c12f8",
      "name": "Ubuntu 24.04 Noble Numbat", "volume_type": "l_ssd", "size": 10000000000},
      "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2025-06-25T12:56:49.762531+00:00",
      "modification_date": "2025-06-25T12:56:49.762531+00:00", "default_bootscript":
      null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"},
      "volumes": {"0": {"boot": false, "id": "fc13a5ec-9db9-47d8-9506-ad55a2f0df5f",
      "name": "Ubuntu 24.04 Noble Numbat", "volume_type": "l_ssd", "export_uri": null,
      "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71",
      "server": {"id": "8a758f2e-6a09-46da-9657-c0862af587ce", "name": "srv-cool-morse"},
      "size": 150000000000, "state": "available", "creation_date": "2025-07-04T14:37:01.023052+00:00",
      "modification_date": "2025-07-04T14:37:01.023052+00:00", "tags": [], "zone":
      "fr-par-1"}}, "tags": [], "state": "stopped", "protected": false, "state_detail":
      "", "public_ip": null, "public_ips": [], "mac_address": "de:00:00:bb:35:7f",
      "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required":
      true, "enable_ipv6": false, "private_ip": null, "creation_date": "2025-07-04T14:37:01.023052+00:00",
      "modification_date": "2025-07-04T14:37:01.023052+00:00", "bootscript": null,
      "security_group": {"id": "2d7d322d-5ca8-4eea-9fdf-3885ed983d91", "name": "Default
      security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron",
      "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1",
      "filesystems": [], "end_of_service": false}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/8a758f2e-6a09-46da-9657-c0862af587ce
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/marketplace/v2/local-images/c5c72a76-0e9b-437b-a6c9-980d7163c152
    method: GET
  response:
    body: '{"id":"c5c72a76-0e9b-437b-a6c9-980d7163c152","arch":"x86_64","zone":"fr-par-1","compatible_commercial_types":["DEV1-L","DEV1-M","DEV1-S","DEV1-XL","GP1-L","GP1-M","GP1-S","GP1-XL","GP1-XS","STARDUST1-S","START1-L","START1-M","START1-S","START1-XS","VC1L","VC1M","VC1S","X64-120GB","X64-15GB","X64-30GB","X64-60GB"],"label":"ubuntu_noble","type":"instance_local"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/8a758f2e-6a09-46da-9657-c0862af587ce
    method: GET
  response:
    body: '{"server": {"id": "8a758f2e-6a09-46da-9657-c0862af587ce", "name": "srv-cool-morse",
      "arch": "x86_64", "commercial_type": "GP1-XS", "boot_type": "local", "organization":
      "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71",
      "hostname": "srv-cool-morse[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/fc13a5ec-9db9-47d8-9506-ad55a2f0df5f
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/marketplace/v2/local-images?image_label=ubuntu_noble&order_by=type_asc&type=instance_sbs&zone=fr-par-1
    method: GET
  response:
    body: '{"local_images":[{"id":"95ec2a11-243f-4feb-8efa-155594e2c201","arch":"x86_64","zone":"fr-par-1","compatible_commercial_types":["DEV1-L","DEV1-M","DEV1-S","DEV1-XL","GP1-L","GP1-M","GP1-S","GP1-XL","GP1-XS","START1-L","START1-M","START1-S","START1-XS","VC1L","VC1M","VC1S","X[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/72e86764-8873-4376-bf4f-e2f940309d96
    method: GET
  response:
    body: '{"id":"72e86764-8873-4376-bf4f-e2f940309d96","name":"Ubuntu 24.04 Noble
      Numbat_sbs_volume_0","type":"sbs_5k","size":15000000000,"project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","created_at":"2025-07-04T14:37:02.214431Z","updated_at":"2025-07-04T14:37:02.214431Z","references":[{"id":"3bb2ecd2-8311-4fbf-8943-46384e7d3400","product_resource_type":"instance_server","product_resource_id":"7edfc8d1-7ac7-4ef1-bdbb-bae24535e567","created_at":"2025-07-04T14:37:02.214431Z","type":"exclusive","status":"detaching"}],"parent_snapshot_id":"e9dae602-1f3d-44c3-b377-a6aed7af0e7e","status":"in_use","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/marketplace/v2/local-images?image_label=ubuntu_noble&order_by=type_asc&type=instance_local&zone=fr-par-1
    method: GET
  response:
    body: '{"local_images":[{"id":"c5c72a76-0e9b-437b-a6c9-980d7163c152","arch":"x86_64","zone":"fr-par-1","compatible_commercial_types":["DEV1-L","DEV1-M","DEV1-S","DEV1-XL","GP1-L","GP1-M","GP1-S","GP1-XL","GP1-XS","STARDUST1-S","START1-L","START1-M","START1-S","START1-XS","VC1L","VC1M","VC1S","X64-120GB","X64-15GB","X64-30GB","X64-60GB"],"label":"ubuntu_noble","type":"instance_local"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"vol-romantic-galileo","perf_iops":5000,"project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","from_empty":{"size":15000000000},"tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"id":"52c51489-c8b6-4cae-b736-490dada0a583","name":"vol-romantic-galileo","type":"sbs_5k","size":15000000000,"project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","created_at":"2025-07-04T14:37:09.437291Z","updated_at":"2025-07-04T14:37:09.437291Z","references":[],"parent_snapshot_id":null,"status":"creating","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"volume_id":"52c51489-c8b6-4cae-b736-490dada0a583","name":"snp-flamboyant-beaver","project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"id":"2d57a339-9681-47da-ba63-f682969f2aa5","name":"snp-flamboyant-beaver","parent_volume":{"id":"52c51489-c8b6-4cae-b736-490dada0a583","name":"vol-romantic-galileo","type":"sbs_5k","status":"available"},"size":15000000000,"project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","created_at":"2025-07-04T14:37:14.685776Z","updated_at":"2025-07-04T14:37:14.685776Z","references":[],"status":"creating","tags":[],"class":"sbs","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/2d57a339-9681-47da-ba63-f682969f2aa5
    method: GET
  response:
    body: '{"id":"2d57a339-9681-47da-ba63-f682969f2aa5","name":"snp-flamboyant-beaver","parent_volume":{"id":"52c51489-c8b6-4cae-b736-490dada0a583","name":"vol-romantic-galileo","type":"sbs_5k","status":"available"},"size":15000000000,"project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","created_at":"2025-07-04T14:37:14.685776Z","updated_at":"2025-07-04T14:37:14.685776Z","references":[],"status":"creating","tags":[],"class":"sbs","zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"srv-magical-herschel","commercial_type":"GP1-XS","image":"95ec2a11-243f-4feb-8efa-155594e2c201","volumes":{"0":{"name":"sbs-volume-from-snap","volume_type":"sbs_volume","base_snapshot":"2d57a339-9681-47da-ba63-f682969f2aa5"}},"project":"19a4819b-24bf-4d44-969f-935ef0061b71"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: '{"server": {"id": "f0c9bc3f-f409-46f0-8384-90883d80140c", "name": "srv-magical-herschel",
      "arch": "x86_64", "commercial_type": "GP1-XS", "boot_type": "local", "organization":
      "fa1e3217-dc80-42ac-85c3-3f034b78b552", "[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/2d57a339-9681-47da-ba63-f682969f2aa5
    method: DELETE
  response:
    body: '{"message": "resource is not found", "type": "not_found", "resource": "instance_snapshot",
      "resource_id": "2d57a339-9681-47da-ba63-f682969f2aa5"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/marketplace/v2/local-images?image_label=ubuntu_focal&order_by=type_asc&type=instance_local&zone=fr-par-1
    method: GET
  response:
    body: '{"local_images":[{"id":"4a4d2994-e7e0-4b29-a760-36235e6ba258","arch":"x86_64","zone":"fr-par-1","compatible_commercial_types":["DEV1-L","DEV1-M","DEV1-S","DEV1-XL","GP1-L","GP1-M","GP1-S","GP1-XL","GP1-XS","STARDUST1-S","START1-L","START1-M","START1-S","START1-XS","VC1L","VC1M","VC1S","X64-120GB","X64-15GB","X64-30GB","X64-60GB"],"label":"ubuntu_focal","type":"instance_local"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"snp-upbeat-antonelli","volume_id":"d068daf9-3c35-4e7c-91b7-f47e9f400ca3","project":"19a4819b-24bf-4d44-969f-935ef0061b71","volume_type":"l_ssd"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "8abcb0ee-f52c-4142-bc1e-45757160cd3f", "name": "snp-upbeat-antonelli",
      "volume_type": "l_ssd", "creation_date": "2025-07-04T14:37:27.870447+00:00",
      "modification_date": "2025-07-04T14:37:27.870447+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "size": 15000000000, "state":
      "available", "base_volume": {"id": "d068daf9-3c35-4e7c-91b7-f47e9f400ca3", "name":
      "Ubuntu 20.04 Focal Fossa"}, "tags": [], "zone": "fr-par-1", "error_details":
      null}, "task": {"id": "3f67c0cd-2d81-4bbe-928b-4ce80bf52643", "description":
      "volume_snapshot", "status": "pending", "href_from": "/snapshots", "href_result":
      "snapshots/8abcb0ee-f52c-4142-bc1e-45757160cd3f", "started_at": "2025-07-04T14:37:28.109380+00:00",
      "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
