---
version: 1
interactions:
- request:
    body: '{"server":"5ee00b7a-0eba-4f5c-84ce-8f0f32177e2a"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/1c91be6a-7f22-42aa-84d9-e83479613db0
    method: PATCH
  response:
    body: '{"ip": {"organization": "e49695be-9e0c-4ac7-9969-9a026a3f1aac", "reverse":
      null, "id": "1c91be6a-7f22-42aa-84d9-e83479613db0", "server": {"id": "5ee00b7a-0eba-4f5c-84ce-8f0f32177e2a",
      "name": "scw-affectionate-jackson"}, "address": "1.1.1.1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
