---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/marketplace/v2/local-images?image_label=ubuntu_focal&order_by=created_at_asc&type=unknown_type&zone=fr-par-1
    method: GET
  response:
    body: '{"local_images":[{"id":"1bed752e-f775-4ec2-b179-40af20ec1eec", "arch":"x86_64",
      "zone":"fr-par-1", "compatible_commercial_types":["DEV1-L", "DEV1-M", "DEV1-S",
      "DEV1-XL", "GP1-L", "GP1-M", "GP1-S", "GP1-XL", "GP1-XS", "START1-L", "START1-M",
      "START1-S", "START1-XS", "VC1L", "VC1M", "VC1S", "X64-120GB", "X64-15GB", "X64-30GB",
      "X64-60GB", "ENT1-XXS", "ENT1-XS", "ENT1-S", "ENT1-M", "ENT1-L", "ENT1-XL",
      "ENT1-2XL", "PRO2-XXS", "PRO2-XS", "PRO2-S", "PRO2-M", "PRO2-L", "STARDUST1-S",
      "PLAY2-MICRO", "PLAY2-NANO", "PLAY2-PICO", "POP2-2C-8G", "POP2-4C-16G", "POP2-8C-32G",
      "POP2-16C-64G", "POP2-32C-128G", "POP2-64C-256G", "POP2-HM-2C-16G", "POP2-HM-4C-32G",
      "POP2-HM-8C-64G", "POP2-HM-16C-128G", "POP2-HM-32C-256G", "POP2-HM-64C-512G",
      "POP2-HC-2C-4G", "POP2-HC-4C-8G", "POP2-HC-8C-16G", "POP2-HC-16C-32G", "POP2-HC-32C-64G",
      "POP2-HC-64C-128G"], "label":"ubuntu_focal", "type":"instance_local"}, {"id":"9517ef8a-b830-4880-ab30-3f2366a8a207",
      "arch":"arm64", "zone":"fr-par-1", "compatible_commercial_types":["AMP2-C1",
      "AMP2-C2", "AMP2-C4", "AMP2-C8", "AMP2-C12", "AMP2-C24", "AMP2-C48", "AMP2-C60",
      "COPARM1-2C-8G", "COPARM1-4C-16G", "COPARM1-8C-32G", "COPARM1-16C-64G", "COPARM1-32C-128G"],
      "label":"ubuntu_focal", "type":"instance_local"}], "total_count":2}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"srv-amazing-heisenberg","commercial_type":"DEV1-M","image":"1bed752e-f775-4ec2-b179-40af20ec1eec","project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: '{"server": {"id": "1b037e48-9341-4c24-87af-68121f8ca859", "name": "srv-amazing-heisenberg",
      "arch": "x86_64", "commercial_type": "DEV1-M", "boot_type": "local", "organization":
      "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "hostname": "srv-amazing-heisenberg", "image": {"id": "1bed752e-f775-4ec2-b179-40af20ec1eec",
      "name": "Ubuntu 20.04 Focal Fossa", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "9199297e-fd35-4012-9164-8c97820f205b",
      "name": "Ubuntu 20.04 Focal Fossa", "volume_type": "unified", "size": 10000000000},
      "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2024-02-22T15:47:31.528876+00:00",
      "modification_date": "2024-02-22T15:47:31.528876+00:00", "default_bootscript":
      null, "from_server": null, "state": "available", "tags": [], "zone": "fr-par-1"},
      "volumes": {"0": {"boot": false, "id": "2008c543-2a64-42c5-8051-800af8327248",
      "name": "Ubuntu 20.04 Focal Fossa", "volume_type": "l_ssd", "export_uri": null,
      "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "server": {"id": "1b037e48-9341-4c24-87af-68121f8ca859", "name": "srv-amazing-heisenberg"},
      "size": 40000000000, "state": "available", "creation_date": "2024-03-14T07:30:14.609873+00:00",
      "modification_date": "2024-03-14T07:30:14.609873+00:00", "tags": [], "zone":
      "fr-par-1"}}, "tags": [], "state": "stopped", "protected": false, "state_detail":
      "", "public_ip": null, "public_ips": [], "mac_address": "de:00:00:44:3f:a7",
      "routed_ip_enabled": false, "ipv6": null, "extra_networks": [], "dynamic_ip_required":
      true, "enable_ipv6": false, "private_ip": null, "creation_date": "2024-03-14T07:30:14.609873+00:00",
      "modification_date": "2024-03-14T07:30:14.609873+00:00", "bootscript": {"id":
      "fdfe150f-a870-4ce4-b432-9f56b5b995c1", "public": true, "title": "x86_64 mainline
      4.4.230 rev1", "architecture": "x86_64", "organization": "11111111-1111-4111-8111-111111111111",
      "project": "11111111-1111-4111-8111-111111111111", "kernel": "http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230",
      "dtb": "", "initrd": "http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz",
      "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "default":
      true, "zone": "fr-par-1"}, "security_group": {"id": "0fe819c3-274d-472a-b3f5-ddb258d2d8bb",
      "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions":
      ["poweron", "backup", "enable_routed_ip"], "placement_group": null, "private_nics":
      [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/1b037e48-9341-4c24-87af-68121f8ca859
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"action":"backup","name":"backup"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/1b037e48-9341-4c24-87af-68121f8ca859/action
    method: POST
  response:
    body: '{"task": {"id": "79440ea7-b5e9-4600-8ac0-b5115e1cb5ca", "description":
      "server_backup", "status": "success", "href_from": "/servers/1b037e48-9341-4c24-87af-68121f8ca859/action",
      "href_result": "/images/81cbfbda-1c71-4e1b-bc84-e31289c023da", "started_at":
      "2024-03-14T07:30:15.706979+00:00", "terminated_at": null}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/79440ea7-b5e9-4600-8ac0-b5115e1cb5ca
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/81cbfbda-1c71-4e1b-bc84-e31289c023da
    method: GET
  response:
    body: '{"image": {"id": "81cbfbda-1c71-4e1b-bc84-e31289c023da", "name": "backup",
      "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "root_volume": {"id": "4199cfde-61f1-4451-bc9e-9c56db8ca8b5", "name": "backup_snap_0",
      "volume_type": "l_s[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/1b037e48-9341-4c24-87af-68121f8ca859
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/2008c543-2a64-42c5-8051-800af8327248
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/4199cfde-61f1-4451-bc9e-9c56db8ca8b5
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
