---
version: 1
interactions:
- request:
    body: '{"name":"name","description":"description","organization":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","stateful":true,"inbound_default_policy":"accept","outbound_default_policy":"drop"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups
    method: POST
  response:
    body: '{"security_group": {"outbound_default_policy": "drop", "description": "description",
      "servers": [], "stateful": true, "creation_date": "2019-09-11T09:57:30.321136+00:00",
      "id": "854e3939-6fb8-4cb3-a3b7-c9d8c582d9d4", "name": "name", "modification_date":
      "2019-09-11T09:57:30.321136+00:00", "inbound_default_policy": "accept", "organization":
      "b3ba839a-dcf2-4b0a-ac81-fc32370052a0", "organization_default": false, "enable_default_security":
      true}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://cp-par1.scaleway.com/security_groups/854e3939-6fb8-4cb3-a3b7-c9d8c582d9d4
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"protocol":"TCP","direction":"inbound","action":"accept","ip_range":"8.8.8.8/32","dest_port_from":1,"dest_port_to":1024,"position":1}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/854e3939-6fb8-4cb3-a3b7-c9d8c582d9d4/rules
    method: POST
  response:
    body: '{"rule": {"direction": "inbound", "protocol": "TCP", "ip_range": "8.8.8.8",
      "dest_port_from": 1, "action": "accept", "position": 1, "dest_port_to": 1024,
      "editable": null, "id": "3773eeb0-36ac-4640-ba3b-533a854cba86"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://cp-par1.scaleway.com/security_groups/854e3939-6fb8-4cb3-a3b7-c9d8c582d9d4/rules/3773eeb0-36ac-4640-ba3b-533a854cba86
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/854e3939-6fb8-4cb3-a3b7-c9d8c582d9d4/rules/3773eeb0-36ac-4640-ba3b-533a854cba86
    method: GET
  response:
    body: '{"rule": {"direction": "inbound", "protocol": "TCP", "ip_range": "8.8.8.8",
      "dest_port_from": 1, "action": "accept", "position": 1, "dest_port_to": 1024,
      "editable": null, "id": "3773eeb0-36ac-4640-ba3b-533a854cba86"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/854e3939-6fb8-4cb3-a3b7-c9d8c582d9d4
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
