---
version: 1
interactions:
- request:
    body: '{"name":"name","description":"description","project":"19a4819b-24bf-4d44-969f-935ef0061b71","stateful":true,"inbound_default_policy":"accept","outbound_default_policy":"drop"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups
    method: POST
  response:
    body: '{"security_group": {"id": "17644b61-7066-4f91-be8d-56a8e9ee2110", "creation_date":
      "2025-07-07T23:39:09.632382+00:00", "modification_date": "2025-07-07T23:39:09.632382+00:00",
      "name": "name", "description": "description", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "servers": [], "stateful":
      true, "inbound_default_policy": "accept", "outbound_default_policy": "drop",
      "organization_default": false, "project_default": false, "enable_default_security":
      true, "state": "available", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/17644b61-7066-4f91-be8d-56a8e9ee2110
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"protocol":"TCP","direction":"inbound","action":"accept","ip_range":"8.8.8.8/32","dest_port_from":1,"dest_port_to":1024,"position":1}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/17644b61-7066-4f91-be8d-56a8e9ee2110/rules
    method: POST
  response:
    body: '{"rule": {"id": "80f80b63-d460-42da-bd36-978cca9f0f46", "protocol": "TCP",
      "direction": "inbound", "ip_range": "8.8.8.8", "dest_ip_range": null, "dest_port_from":
      1, "dest_port_to": 1024, "position": 1, "editable": true, "action": "accept",
      "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/17644b61-7066-4f91-be8d-56a8e9ee2110/rules/80f80b63-d460-42da-bd36-978cca9f0f46
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"protocol":"UDP","direction":"outbound","action":"drop","ip_range":"1.1.1.1/32","dest_port_from":1,"dest_port_to":2048}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/17644b61-7066-4f91-be8d-56a8e9ee2110/rules/80f80b63-d460-42da-bd36-978cca9f0f46
    method: PATCH
  response:
    body: '{"rule": {"id": "80f80b63-d460-42da-bd36-978cca9f0f46", "protocol": "UDP",
      "direction": "outbound", "ip_range": "1.1.1.1", "dest_ip_range": null, "dest_port_from":
      1, "dest_port_to": 2048, "position": 1, "editable": true, "action": "drop",
      "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/17644b61-7066-4f91-be8d-56a8e9ee2110
    method: GET
  response:
    body: '{"security_group": {"id": "17644b61-7066-4f91-be8d-56a8e9ee2110", "creation_date":
      "2025-07-07T23:39:09.632382+00:00", "modification_date": "2025-07-07T23:39:10.656409+00:00",
      "name": "name", "description": "description", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "servers": [], "stateful":
      true, "inbound_default_policy": "accept", "outbound_default_policy": "drop",
      "organization_default": false, "project_default": false, "enable_default_security":
      true, "state": "available", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
