---
version: 1
interactions:
- request:
    body: '{"name":"name","description":"description","organization":"b3ba839a-dcf2-4b0a-ac81-fc32370052a0","stateful":true,"inbound_default_policy":"accept","outbound_default_policy":"drop"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups
    method: POST
  response:
    body: '{"security_group": {"outbound_default_policy": "drop", "description": "description",
      "servers": [], "stateful": true, "creation_date": "2019-06-19T14:14:55.331499+00:00",
      "id": "7f19c115-fc6e-4cbb-b7f8-e97fc2cfa0b2", "name": "name", "modification_date":
      "2019-06-19T14:14:55.331499+00:00", "inbound_default_policy": "accept", "organization":
      "b3ba839a-dcf2-4b0a-ac81-fc32370052a0", "organization_default": false, "enable_default_security":
      true}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://cp-par1.scaleway.com/security_groups/7f19c115-fc6e-4cbb-b7f8-e97fc2cfa0b2
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/7f19c115-fc6e-4cbb-b7f8-e97fc2cfa0b2
    method: GET
  response:
    body: '{"security_group": {"outbound_default_policy": "drop", "description": "description",
      "servers": [], "stateful": true, "creation_date": "2019-06-19T14:14:55.331499+00:00",
      "id": "7f19c115-fc6e-4cbb-b7f8-e97fc2cfa0b2", "name": "name", "modification_date":
      "2019-06-19T14:14:55.331499+00:00", "inbound_default_policy": "accept", "organization":
      "b3ba839a-dcf2-4b0a-ac81-fc32370052a0", "organization_default": false, "enable_default_security":
      true}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
