---
version: 2
interactions:
- request:
    body: '{"name":"name","description":"description","project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","stateful":true,"inbound_default_policy":"accept","outbound_default_policy":"drop"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups
    method: POST
  response:
    body: '{"security_group": {"id": "4c3665d1-686b-4e00-8227-01008a3e311f", "creation_date":
      "2023-12-04T09:54:26.090979+00:00", "modification_date": "2023-12-04T09:54:26.090979+00:00",
      "name": "name", "description": "description", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "servers": [], "stateful":
      true, "inbound_default_policy": "accept", "outbound_default_policy": "drop",
      "organization_default": false, "project_default": false, "enable_default_security":
      true, "state": "syncing", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/4c3665d1-686b-4e00-8227-01008a3e311f
    status: 201 Created
    code: 201
    duration: 0.1ms
- request:
    body: '{"protocol":"TCP","direction":"inbound","action":"accept","ip_range":"8.8.8.8/32","dest_port_from":1,"dest_port_to":1024,"position":1}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/4c3665d1-686b-4e00-8227-01008a3e311f/rules
    method: POST
  response:
    body: '{"rule": {"id": "978fa298-455e-420c-9f6f-7adf41e50b22", "protocol": "TCP",
      "direction": "inbound", "ip_range": "8.8.8.8", "dest_ip_range": null, "dest_port_from":
      1, "dest_port_to": 1024, "position": 1, "editable": true, "action": "accept",
      "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/4c3665d1-686b-4e00-8227-01008a3e311f/rules/978fa298-455e-420c-9f6f-7adf41e50b22
    status: 201 Created
    code: 201
    duration: 0.1ms
- request:
    body: '{"protocol":"UDP","direction":"outbound","action":"drop","ip_range":"1.1.1.1/32","dest_port_from":1,"dest_port_to":2048}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/4c3665d1-686b-4e00-8227-01008a3e311f/rules/978fa298-455e-420c-9f6f-7adf41e50b22
    method: PATCH
  response:
    body: '{"rule": {"id": "978fa298-455e-420c-9f6f-7adf41e50b22", "protocol": "UDP",
      "direction": "outbound", "ip_range": "1.1.1.1", "dest_ip_range": null, "dest_port_from":
      1, "dest_port_to": 2048, "position": 1, "editable": true, "action": "drop",
      "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 0.1ms
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/4c3665d1-686b-4e00-8227-01008a3e311f
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: 0.1ms
[...]
