---
version: 1
interactions:
- request:
    body: '{"name":"name","description":"description","project":"951df375-e094-4d26-97c1-ba548eeb9c42","stateful":true,"inbound_default_policy":"accept","outbound_default_policy":"drop"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups
    method: POST
  response:
    body: '{"security_group": {"id": "d912ba75-6d04-4b89-96f9-fcee0918d2f3", "creation_date":
      "2022-03-04T12:05:10.228601+00:00", "modification_date": "2022-03-04T12:05:10.228601+00:00",
      "name": "name", "description": "description", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "servers": [], "stateful":
      true, "inbound_default_policy": "accept", "outbound_default_policy": "drop",
      "organization_default": false, "project_default": false, "enable_default_security":
      true, "state": "syncing", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/d912ba75-6d04-4b89-96f9-fcee0918d2f3
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/d912ba75-6d04-4b89-96f9-fcee0918d2f3
    method: GET
  response:
    body: '{"security_group": {"id": "d912ba75-6d04-4b89-96f9-fcee0918d2f3", "creation_date":
      "2022-03-04T12:05:10.228601+00:00", "modification_date": "2022-03-04T12:05:10.660112+00:00",
      "name": "name", "description": "description", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "servers": [], "stateful":
      true, "inbound_default_policy": "accept", "outbound_default_policy": "drop",
      "organization_default": false, "project_default": false, "enable_default_security":
      true, "state": "available", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
