---
version: 1
interactions:
- request:
    body: '{"name":"name","description":"description","project":"19a4819b-24bf-4d44-969f-935ef0061b71","stateful":true,"inbound_default_policy":"accept","outbound_default_policy":"drop"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups
    method: POST
  response:
    body: '{"security_group": {"id": "a21331b7-4b1c-4188-9e33-6ab950f18580", "creation_date":
      "2025-07-07T23:39:08.604516+00:00", "modification_date": "2025-07-07T23:39:08.604516+00:00",
      "name": "name", "description": "description", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "servers": [], "stateful":
      true, "inbound_default_policy": "accept", "outbound_default_policy": "drop",
      "organization_default": false, "project_default": false, "enable_default_security":
      true, "state": "available", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/a21331b7-4b1c-4188-9e33-6ab950f18580
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"new_name","description":"new_description","inbound_default_policy":"drop","tags":["foo","bar"],"project_default":false,"outbound_default_policy":"accept","stateful":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/a21331b7-4b1c-4188-9e33-6ab950f18580
    method: PATCH
  response:
    body: '{"security_group": {"id": "a21331b7-4b1c-4188-9e33-6ab950f18580", "creation_date":
      "2025-07-07T23:39:08.604516+00:00", "modification_date": "2025-07-07T23:39:08.871556+00:00",
      "name": "new_name", "description": "new_description", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "servers": [], "stateful":
      false, "inbound_default_policy": "drop", "outbound_default_policy": "accept",
      "organization_default": false, "project_default": false, "enable_default_security":
      true, "state": "syncing", "tags": ["foo", "bar"], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
