---
version: 1
interactions:
- request:
    body: '{"name":"name","description":"description","project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","stateful":true,"inbound_default_policy":"accept","outbound_default_policy":"drop"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups
    method: POST
  response:
    body: '{"security_group": {"id": "47b2363e-f0a1-4f75-a45a-0c0375ed4eef", "creation_date":
      "2023-11-20T13:06:00.758750+00:00", "modification_date": "2023-11-20T13:06:00.758750+00:00",
      "name": "name", "description": "description", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "servers": [], "stateful":
      true, "inbound_default_policy": "accept", "outbound_default_policy": "drop",
      "organization_default": false, "project_default": false, "enable_default_security":
      true, "state": "syncing", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/47b2363e-f0a1-4f75-a45a-0c0375ed4eef
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"new_name","description":"new_description","inbound_default_policy":"drop","tags":["foo","bar"],"project_default":false,"outbound_default_policy":"accept","stateful":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/47b2363e-f0a1-4f75-a45a-0c0375ed4eef
    method: PATCH
  response:
    body: '{"security_group": {"id": "47b2363e-f0a1-4f75-a45a-0c0375ed4eef", "creation_date":
      "2023-11-20T13:06:00.758750+00:00", "modification_date": "2023-11-20T13:06:00.811016+00:00",
      "name": "new_name", "description": "new_description", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "servers": [], "stateful":
      false, "inbound_default_policy": "drop", "outbound_default_policy": "accept",
      "organization_default": false, "project_default": false, "enable_default_security":
      true, "state": "syncing", "tags": ["foo", "bar"], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
