---
version: 1
interactions:
- request:
    body: '{"name":"instance_sdk_server_test","dynamic_ip_required":true,"commercial_type":"START1-S","image":"f974feac-abae-4365-b988-8ec7d1cec10d","enable_ipv6":true,"boot_type":"local","organization":"d429f6a1-c0a6-48cf-8b5a-1f9dfe76ffd3","tags":["foo","bar"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - f9f4770d-e8cf-4137-b1de-9cda55e199c3
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: '{"server": {"allowed_actions": ["poweron", "backup"], "maintenances": [],
      "state_detail": "", "image": {"creation_date": "2019-03-05T10:13:15.974944+00:00",
      "default_bootscript": {"kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.9-4.9.93-rev1/vmlinuz-4.9.93",
      "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz", "default":
      false, "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "architecture":
      "x86_64", "title": "x86_64 mainline 4.9.93 rev1", "dtb": "", "organization":
      "11111111-1111-4111-8111-111111111111", "id": "15fbd2f7-a0f9-412b-8502-6a44da8d98b8",
      "public": true}, "from_server": null, "arch": "x86_64", "id": "f974feac-abae-4365-b988-8ec7d1cec10d",
      "root_volume": {"size": 10000000000, "id": "dd5f5c10-23b1-4c9c-8445-eb6740957c84",
      "volume_type": "l_ssd", "name": "snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13"},
      "name": "Ubuntu Bionic Beaver", "modification_date": "2019-03-05T13:32:29.274319+00:00",
      "state": "available", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "extra_volumes": {}, "public": true}, "creation_date": "2019-05-22T08:24:39.304421+00:00",
      "public_ip": null, "private_ip": null, "id": "a6475af6-a384-42bc-af2b-218bc97a2529",
      "dynamic_ip_required": true, "modification_date": "2019-05-22T08:24:39.684635+00:00",
      "enable_ipv6": true, "hostname": "instance-sdk-server-test", "state": "stopped",
      "bootscript": {"kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.9-4.9.93-rev1/vmlinuz-4.9.93",
      "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz", "default":
      false, "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "architecture":
      "x86_64", "title": "x86_64 mainline 4.9.93 rev1", "dtb": "", "organization":
      "11111111-1111-4111-8111-111111111111", "id": "15fbd2f7-a0f9-412b-8502-6a44da8d98b8",
      "public": true}, "location": null, "boot_type": "local", "ipv6": null, "commercial_type":
      "START1-S", "tags": ["foo", "bar"], "arch": "x86_64", "extra_networks": [],
      "compute_cluster": null, "name": "instance_sdk_server_test", "protected": false,
      "volumes": {"0": {"size": 50000000000, "state": "available", "name": "snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13",
      "modification_date": "2019-05-22T08:24:39.608783+00:00", "organization": "d429f6a1-c0a6-48cf-8b5a-1f9dfe76ffd3",
      "export_uri": null, "creation_date": "2019-05-22T08:24:39.304421+00:00", "id":
      "9be7c196-e953-427e-9d69-1620b27ded70", "volume_type": "l_ssd", "server": {"id":
      "a6475af6-a384-42bc-af2b-218bc97a2529", "name": "instance_sdk_server_test"}}},
      "security_group": {"id": "9f073e03-5511-4863-ae23-9cb0deb82426", "name": "Default
      security group"}, "organization": "d429f6a1-c0a6-48cf-8b5a-1f9dfe76ffd3"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://cp-par1.scaleway.com/servers/a6475af6-a384-42bc-af2b-218bc97a2529
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"some_new_name_for_server","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - f9f4770d-e8cf-4137-b1de-9cda55e199c3
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/a6475af6-a384-42bc-af2b-218bc97a2529
    method: PATCH
  response:
    body: '{"server": {"allowed_actions": ["poweron", "backup"], "maintenances": [],
      "state_detail": "", "image": {"creation_date": "2019-03-05T10:13:15.[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      X-Auth-Token:
      - f9f4770d-e8cf-4137-b1de-9cda55e199c3
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/9be7c196-e953-427e-9d69-1620b27ded70
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
