---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/servers?order=creation_date_desc
    method: GET
  response:
    body: '{"servers": []}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </servers?page=0&per_page=50&order=creation_date_desc>; rel="last"
      X-Total-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/servers?order=creation_date_desc
    method: GET
  response:
    body: '{"servers": []}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </servers?page=0&per_page=50&order=creation_date_desc>; rel="last"
      X-Total-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/pl-waw-1/servers?order=creation_date_desc
    method: GET
  response:
    body: '{"servers": []}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </servers?page=0&per_page=50&order=creation_date_desc>; rel="last"
      X-Total-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers?order=creation_date_desc
    method: GET
  response:
    body: '{"servers": [{"id": "e77ed5e4-a24c-47b7-a40e-292e722f0055", "name": "cli-srv-suspicious-poincare",
      "arch": "x86_64", "commercial_type": "DEV1-S", "boot_type": "local", "organization":
      "951df375-e094-4d26-97c1-ba548eeb9c42", "project": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "hostname": "cli-srv-suspicious-poincare", "image": {"id": "ce453858-557c-4f1c-a7a9-70026e67d054",
      "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "30e9c843-1cdb-4bd4-96f7-cac26051eeaf",
      "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "unified", "size": 10000000000},
      "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2023-04-13T12:13:29.892843+00:00",
      "modification_date": "2023-04-13T12:13:29.892843+00:00", "default_bootscript":
      null, "from_server": null, "state": "available", "tags": [], "zone": "fr-par-1"},
      "volumes": {"0": {"boot": false, "id": "88fa367d-9c81-490b-909b-62abae6aa278",
      "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "l_ssd", "export_uri":
      null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42", "project": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "server": {"id": "e77ed5e4-a24c-47b7-a40e-292e722f0055", "name": "cli-srv-suspicious-poincare"},
      "size": 20000000000, "state": "available", "creation_date": "2023-06-15T14:08:52.258680+00:00",
      "modification_date": "2023-06-15T14:08:52.258680+00:00", "tags": [], "zone":
      "fr-par-1"}}, "tags": [], "state": "running", "protected": false, "state_detail":
      "booted", "public_ip": {"id": "7635037a-910e-4586-a3d6-7c0b5e68f0cf", "address":
      "51.15.216.206", "dynamic": false}, "ipv6": null, "extra_networks": [], "dynamic_ip_required":
      true, "enable_ipv6": false, "private_ip": "10.68.198.113", "creation_date":
      "2023-06-15T14:08:52.258680+00:00", "modification_date": "2023-06-15T14:09:10.747539+00:00",
      "bootscript": {"id": "fdfe150f-a870-4ce4-b432-9f56b5b995c1", "public": true,
      "title": "x86_64 mainline 4.4.230 rev1", "architecture": "x86_64", "organization":
      "11111111-1111-4111-8111-111111111111", "project": "11111111-1111-4111-8111-111111111111",
      "kernel": "http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230",
      "dtb": "", "initrd": "http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz",
      "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "default":
      true, "zone": "fr-par-1"}, "security_group": {"id": "c6cc1244-cfd5-4b22-b498-1c484e2cd1be",
      "name": "Default security group"}, "location": {"zone_id": "par1", "platform_id":
      "14", "cluster_id": "37", "hypervisor_id": "1002", "node_id": "57"}, "maintenances":
      [], "allowed_actions": ["poweroff", "terminate", "reboot", "stop_in_place",
      "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1"},
      {"id": "e4037168-50f0-425d-8799-dc0137408bb5", "name": "cli-srv-cocky-bartik",
      "arch": "x86_64", "commercial_type": "DEV1-S", "boot_type": "local", "organization":
      "951df375-e094-4d26-97c1-ba548eeb9c42", "project": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "hostname": "cli-srv-cocky-bartik", "image": {"id": "ce453858-557c-4f1c-a7a9-70026e67d054",
      "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
 [...]
[...]
