---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/servers?order=creation_date_desc
    method: GET
  response:
    body: '{"servers": []}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </servers?page=0&per_page=50&order=creation_date_desc>; rel="last"
      X-Total-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/servers?order=creation_date_desc
    method: GET
  response:
    body: '{"servers": []}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </servers?page=0&per_page=50&order=creation_date_desc>; rel="last"
      X-Total-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/pl-waw-1/servers?order=creation_date_desc
    method: GET
  response:
    body: '{"servers": []}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </servers?page=0&per_page=50&order=creation_date_desc>; rel="last"
      X-Total-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers?order=creation_date_desc
    method: GET
  response:
    body: '{"servers": [{"id": "c66fe648-06c8-4cab-83d4-d963bf0ef8df", "name": "kubetest-runner",
      "arch": "x86_64", "commercial_type": "PRO2-S", "boot_type": "local", "organization":
      "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "hostname": "kubetest-runner", "image": {"id": "ce453858-557c-4f1c-a7a9-70026e67d054",
      "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "30e9c843-1cdb-4bd4-96f7-cac26051eeaf",
      "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "unified", "size": 10000000000},
      "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2023-04-13T12:13:29.892843+00:00",
      "modification_date": "2023-04-13T12:13:29.892843+00:00", "default_bootscript":
      null, "from_server": null, "state": "available", "tags": [], "zone": "fr-par-1"},
      "volumes": {"0": {"boot": false, "id": "df0026ac-7c59-4ecd-80b0-265281e2477e",
      "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "b_ssd", "export_uri":
      null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "server": {"id": "c66fe648-06c8-4cab-83d4-d963bf0ef8df", "name": "kubetest-runner"},
      "size": 100000000000, "state": "available", "creation_date": "2023-05-03T12:12:04.671813+00:00",
      "modification_date": "2023-05-03T12:12:04.671813+00:00", "tags": [], "zone":
      "fr-par-1"}}, "tags": ["kube", "cli"], "state": "stopped", "protected": false,
      "state_detail": "", "public_ip": {"id": "58542407-77e1-444b-9fa3-30c4a0d9d7fb",
      "address": "163.172.170.102", "dynamic": false, "gateway": null, "netmask":
      "32", "family": "inet", "provisioning_mode": "dhcp"}, "public_ips": [{"id":
      "58542407-77e1-444b-9fa3-30c4a0d9d7fb", "address": "163.172.170.102", "dynamic":
      false, "gateway": null, "netmask": "32", "family": "inet", "provisioning_mode":
      "dhcp"}], "mac_address": "de:00:00:13:02:db", "routed_ip_enabled": false, "ipv6":
      null, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6": false,
      "private_ip": null, "creation_date": "2023-05-03T12:12:04.671813+00:00", "modification_date":
      "2023-06-22T08:44:57.189402+00:00", "bootscript": {"id": "fdfe150f-a870-4ce4-b432-9f56b5b995c1",
      "public": true, "title": "x86_64 mainline 4.4.230 rev1", "architecture": "x86_64",
      "organization": "11111111-1111-4111-8111-111111111111", "project": "11111111-1111-4111-8111-111111111111",
      "kernel": "http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230",
      "dtb": "", "initrd": "http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz",
      "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "default":
      true, "zone": "fr-par-1"}, "security_group": {"id": "0fe819c3-274d-472a-b3f5-ddb258d2d8bb",
      "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions":
      ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone":
      "fr-par-1"}]}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </servers?page=1&per_page=50&order=creation_date_desc>; rel="last"
      X-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
[...]
