---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: '{"fields": {"organization": ["required key not provided"], "image": ["required
      key not provided"], "name": ["required key not provided"], "volumes": ["required
      key not provided"]}, "message": "Validation Error", "type": "invalid_request_error"}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
