---
version: 1
interactions:
- request:
    body: '{"name":"instance_sdk_server_test","dynamic_ip_required":true,"commercial_type":"START1-S","image":"f974feac-abae-4365-b988-8ec7d1cec10d","enable_ipv6":true,"boot_type":"local","project":"14d2f7ae-9775-414c-9bed-6810e060d500","tags":["foo","bar"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: '{"server": {"id": "6a3d62f7-8852-4dd2-b16a-905b695cd199", "name": "instance_sdk_server_test",
      "arch": "x86_64", "commercial_type": "START1-S", "boot_type": "local", "organization":
      "14d2f7ae-9775-414c-9bed-6810e060d500", "project": "14d2f7ae-9775-414c-9bed-6810e060d500",
      "hostname": "instance-sdk-server-test", "image": {"id": "f974feac-abae-4365-b988-8ec7d1cec10d",
      "name": "Ubuntu Bionic Beaver", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "dd5f5c10-23b1-4c9c-8445-eb6740957c84",
      "name": "snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13", "volume_type":
      "l_ssd", "size": 10000000000}, "extra_volumes": {}, "public": true, "arch":
      "x86_64", "creation_date": "2019-03-05T10:13:15.974944+00:00", "modification_date":
      "2019-03-05T13:32:29.274319+00:00", "default_bootscript": {"id": "15fbd2f7-a0f9-412b-8502-6a44da8d98b8",
      "public": false, "title": "x86_64 mainline 4.9.93 rev1", "architecture": "x86_64",
      "organization": "11111111-1111-4111-8111-111111111111", "project": "11111111-1111-4111-8111-111111111111",
      "kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.9-4.9.93-rev1/vmlinuz-4.9.93",
      "dtb": "", "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz",
      "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "default":
      false, "zone": "fr-par-1"}, "from_server": null, "state": "available", "zone":
      "fr-par-1"}, "volumes": {"0": {"id": "c6b29ca6-8895-42fb-a498-a89011c29ff7",
      "name": "snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13", "volume_type":
      "l_ssd", "export_uri": null, "organization": "14d2f7ae-9775-414c-9bed-6810e060d500",
      "project": "14d2f7ae-9775-414c-9bed-6810e060d500", "server": {"id": "6a3d62f7-8852-4dd2-b16a-905b695cd199",
      "name": "instance_sdk_server_test"}, "size": 50000000000, "state": "available",
      "creation_date": "2020-08-14T13:02:02.652219+00:00", "modification_date": "2020-08-14T13:02:02.990859+00:00",
      "zone": "fr-par-1"}}, "tags": ["foo", "bar"], "state": "stopped", "protected":
      false, "state_detail": "", "public_ip": null, "ipv6": null, "extra_networks":
      [], "dynamic_ip_required": true, "enable_ipv6": true, "private_ip": null, "creation_date":
      "2020-08-14T13:02:02.652219+00:00", "modification_date": "2020-08-14T13:02:03.095139+00:00",
      "bootscript": {"id": "15fbd2f7-a0f9-412b-8502-6a44da8d98b8", "public": false,
      "title": "x86_64 mainline 4.9.93 rev1", "architecture": "x86_64", "organization":
      "11111111-1111-4111-8111-111111111111", "project": "11111111-1111-4111-8111-111111111111",
      "kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.9-4.9.93-rev1/vmlinuz-4.9.93",
      "dtb": "", "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz",
      "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "default":
      false, "zone": "fr-par-1"}, "security_group": {"id": "e5bf4522-94b4-4933-bebb-9b21f786b4af",
      "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions":
      ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://cp-par1.scaleway.com/servers/6a3d62f7-8852-4dd2-b16a-905b695cd199
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/12be8295-263f-4f71-9c7d-a33ef31f3887
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/c6b29ca6-8895-42fb-a498-a89011c29ff7
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
