---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-2/servers?order=creation_date_desc
    method: GET
  response:
    body: '{"servers": []}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </servers?page=0&per_page=50&order=creation_date_desc>; rel="last"
      X-Total-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/servers?order=creation_date_desc
    method: GET
  response:
    body: '{"servers": []}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </servers?page=0&per_page=50&order=creation_date_desc>; rel="last"
      X-Total-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/pl-waw-2/servers?order=creation_date_desc
    method: GET
  response:
    body: '{"servers": []}'
    headers:
      Content-Type:
      - application/json
      Link:
      - </servers?page=0&per_page=50&order=creation_date_desc>; rel="last"
      X-Total-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers?order=creation_date_desc
    method: GET
  response:
    body: '{"servers": [{"id": "79038451-b127-439a-b595-40580a7e8338", "name": "cli-srv-competent-greider",
      "arch": "x86_64", "commercial_type": "DEV1-S", "boot_type": "local", "organization":
      "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "hostname": "cli-srv-competent-greider", "image": {"id": "544f0add-626b-4e4f-8a96-79fa4414d99a",
      "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "f865258c-7f41-4c0e-82a0-24cd4f2ccb29",
      "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "unified", "size": 10000000000},
      "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2022-11-17T16:50:04.695060+00:00",
      "modification_date": "2022-11-17T16:50:04.695060+00:00", "default_bootscript":
      null, "from_server": null, "state": "available", "tags": [], "zone": "fr-par-1"},
      "volumes": {"0": {"boot": false, "id": "ef5db8ae-a512-4080-b90c-1b24ea54a281",
      "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "l_ssd", "export_uri":
      null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "server": {"id": "79038451-b127-439a-b595-40580a7e8338", "name": "cli-srv-competent-greider"},
      "size": 20000000000, "state": "available", "creation_date": "2023-03-02T08:55:39.740542+00:00",
      "modification_date": "2023-03-02T08:55:39.740542+00:00", "tags": [], "zone":
      "fr-par-1"}}, "tags": [], "state": "running", "protected": false, "state_detail":
      "booted", "public_ip": {"id": "71cbe067-8f52-49b7-a223-42b0e5494756", "address":
      "51.15.204.135", "dynamic": false}, "ipv6": null, "extra_networks": [], "dynamic_ip_required":
      true, "enable_ipv6": false, "private_ip": "10.64.178.27", "creation_date": "2023-03-02T08:55:39.740542+00:00",
      "modification_date": "2023-03-02T08:56:04.112045+00:00", "bootscript": {"id":
      "fdfe150f-a870-4ce4-b432-9f56b5b995c1", "public": true, "title": "x86_64 mainline
      4.4.230 rev1", "architecture": "x86_64", "organization": "11111111-1111-4111-8111-111111111111",
      "project": "11111111-1111-4111-8111-111111111111", "kernel": "http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230",
      "dtb": "", "initrd": "http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz",
      "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "default":
      true, "zone": "fr-par-1"}, "security_group": {"id": "0fe819c3-274d-472a-b3f5-ddb258d2d8bb",
      "name": "Default security group"}, "location": {"zone_id": "par1", "platform_id":
      "14", "cluster_id": "17", "hypervisor_id": "502", "node_id": "14"}, "maintenances":
      [], "allowed_actions": ["poweroff", "terminate", "reboot", "stop_in_place",
      "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1"},
      {"id": "d604e608-4e71-43db-8a96-dcd642925725", "name": "cli-srv-lucid-banach",
      "arch": "x86_64", "commercial_type": "DEV1-S", "boot_type": "local", "organization":
      "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "hostname": "cli-srv-lucid-banach", "image": {"id": "544f0add-626b-4e4f-8a96-79fa4414d99a",
      "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
 [...]
