---
version: 1
interactions:
- request:
    body: '{"name":"srv-wonderful-goldberg","commercial_type":"DEV1-S","image":"f974feac-abae-4365-b988-8ec7d1cec10d","organization":"14d2f7ae-9775-414c-9bed-6810e060d500"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: '{"server": {"allowed_actions": ["poweron", "backup"], "maintenances": [],
      "state_detail": "", "image": {"creation_date": "2019-03-05T10:13:15.974944+00:00",
      "default_bootscript": {"kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.9-4.9.93-rev1/vmlinuz-4.9.93",
      "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz", "default":
      false, "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "architecture":
      "x86_64", "title": "x86_64 mainline 4.9.93 rev1", "dtb": "", "organization":
      "11111111-1111-4111-8111-111111111111", "id": "15fbd2f7-a0f9-412b-8502-6a44da8d98b8",
      "public": false}, "from_server": null, "arch": "x86_64", "id": "f974feac-abae-4365-b988-8ec7d1cec10d",
      "root_volume": {"size": 10000000000, "id": "dd5f5c10-23b1-4c9c-8445-eb6740957c84",
      "volume_type": "l_ssd", "name": "snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13"},
      "name": "Ubuntu Bionic Beaver", "modification_date": "2019-03-05T13:32:29.274319+00:00",
      "state": "available", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "extra_volumes": {}, "public": true}, "creation_date": "2019-06-20T17:59:31.822202+00:00",
      "public_ip": null, "private_ip": null, "id": "d7b6fd2a-32f9-446f-ba49-6a67be590a07",
      "dynamic_ip_required": true, "modification_date": "2019-06-20T17:59:32.192591+00:00",
      "enable_ipv6": false, "hostname": "srv-wonderful-goldberg", "state": "stopped",
      "bootscript": {"kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.9-4.9.93-rev1/vmlinuz-4.9.93",
      "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz", "default":
      false, "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "architecture":
      "x86_64", "title": "x86_64 mainline 4.9.93 rev1", "dtb": "", "organization":
      "11111111-1111-4111-8111-111111111111", "id": "15fbd2f7-a0f9-412b-8502-6a44da8d98b8",
      "public": false}, "location": null, "boot_type": "local", "ipv6": null, "commercial_type":
      "DEV1-S", "tags": [], "arch": "x86_64", "extra_networks": [], "compute_cluster":
      null, "name": "srv-wonderful-goldberg", "protected": false, "volumes": {"0":
      {"size": 20000000000, "state": "available", "name": "snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13",
      "modification_date": "2019-06-20T17:59:32.094121+00:00", "organization": "14d2f7ae-9775-414c-9bed-6810e060d500",
      "export_uri": null, "creation_date": "2019-06-20T17:59:31.822202+00:00", "id":
      "fe034b14-2c3f-4f30-96f8-d695f24aa6de", "volume_type": "l_ssd", "server": {"id":
      "d7b6fd2a-32f9-446f-ba49-6a67be590a07", "name": "srv-wonderful-goldberg"}}},
      "security_group": {"id": "e5bf4522-94b4-4933-bebb-9b21f786b4af", "name": "Default
      security group"}, "organization": "14d2f7ae-9775-414c-9bed-6810e060d500"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://cp-par1.scaleway.com/servers/d7b6fd2a-32f9-446f-ba49-6a67be590a07
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: world
    form: {}
    headers:
      Content-Type:
      - text/plain
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/d7b6fd2a-32f9-446f-ba49-6a67be590a07/user_data/hello
    method: PATCH
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain
    status: 204 No Content
    code: 204
    duration: ""
[...]
