---
version: 2
interactions:
- request:
    body: '{"name":"volume_name","project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","volume_type":"b_ssd","size":1000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "6c73aee5-1c22-4207-a6f8-3fdc16c88183", "name": "volume_name",
      "volume_type": "b_ssd", "export_uri": null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "server": null, "size": 1000000000,
      "state": "available", "creation_date": "2023-12-04T10:02:02.557422+00:00", "modification_date":
      "2023-12-04T10:02:02.557422+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/6c73aee5-1c22-4207-a6f8-3fdc16c88183
    status: 201 Created
    code: 201
    duration: 0.1ms
- request:
    body: '{"name":"name","volume_id":"6c73aee5-1c22-4207-a6f8-3fdc16c88183","project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "7015526e-cd90-4f2a-bb37-fa9106cf313f", "name": "name",
      "volume_type": "b_ssd", "creation_date": "2023-12-04T10:02:02.713296+00:00",
      "modification_date": "2023-12-04T10:02:02.713296+00:00", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "size": 1000000000, "state":
      "snapshotting", "base_volume": {"id": "6c73aee5-1c22-4207-a6f8-3fdc16c88183",
      "name": "volume_name"}, "tags": [], "zone": "fr-par-1", "error_details": null},
      "task": {"id": "1a6f272b-3d1a-4181-9f7f-e104a8fedf44", "description": "snapshot_7015526e-cd90-4f2a-bb37-fa9106cf313f",
      "status": "pending", "href_from": "/snapshots", "href_result": "snapshots/7015526e-cd90-4f2a-bb37-fa9106cf313f",
      "started_at": "2023-12-04T10:02:03.121513+00:00", "terminated_at": null}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: 0.1ms
- request:
    body: '{"name":"new_name","tags":["foo","bar"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/7015526e-cd90-4f2a-bb37-fa9106cf313f
    method: PATCH
  response:
    body: '{"snapshot": {"id": "7015526e-cd90-4f2a-bb37-fa9106cf313f", "name": "new_name",
      "volume_type": "b_ssd", "creation_date": "2023-12-04T10:02:02.713296+00:00",
      "modification_date": "2023-12-04T10:02:03.482505+00:00", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "size": 1000000000, "state":
      "snapshotting", "base_volume": {"id": "6c73aee5-1c22-4207-a6f8-3fdc16c88183",
      "name": "volume_name"}, "tags": ["foo", "bar"], "zone": "fr-par-1", "error_details":
      null}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 0.1ms
[...]
