---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/marketplace/v2/local-images?image_label=ubuntu_focal&order_by=type_asc&type=instance_local&zone=fr-par-1
    method: GET
  response:
    body: '{"local_images":[{"id":"4a4d2994-e7e0-4b29-a760-36235e6ba258","arch":"x86_64","zone":"fr-par-1","compatible_commercial_types":["DEV1-L","DEV1-M","DEV1-S","DEV1-XL","GP1-L","GP1-M","GP1-S","GP1-XL","GP1-XS","STARDUST1-S","START1-L","START1-M","START1-S","START1-XS","VC1L","VC1M","VC1S","X64-120GB","X64-15GB","X64-30GB","X64-60GB"],"label":"ubuntu_focal","type":"instance_local"}],"total_count":1}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"srv-nervous-merkle","commercial_type":"DEV1-S","image":"4a4d2994-e7e0-4b29-a760-36235e6ba258","volumes":{"0":{"size":15000000000,"volume_type":"l_ssd"}},"project":"19a4819b-24bf-4d44-969f-935ef0061b71"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: '{"server": {"id": "fc0798ec-c637-463b-bf04-2e4449bd2d06", "name": "srv-nervous-merkle",
      "arch": "x86_64", "commercial_type": "DEV1-S", "boot_type": "local", "organization":
      "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71",
      "hostname": "srv-nervous-merkle", "image": {"id": "4a4d2994-e7e0-4b29-a760-36235e6ba258",
      "name": "Ubuntu 20.04 Focal Fossa", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "37000787-865a-4306-8ac4-5a0b2e2fcbbe",
      "name": "Ubuntu 20.04 Focal Fossa", "volume_type": "l_ssd", "size": 10000000000},
      "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2025-06-25T15:47:39.547126+00:00",
      "modification_date": "2025-06-25T15:47:39.547126+00:00", "default_bootscript":
      null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"},
      "volumes": {"0": {"boot": false, "id": "b1db8aef-0a46-4194-90a9-ab836084cad2",
      "name": "Ubuntu 20.04 Focal Fossa", "volume_type": "l_ssd", "export_uri": null,
      "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71",
      "server": {"id": "fc0798ec-c637-463b-bf04-2e4449bd2d06", "name": "srv-nervous-merkle"},
      "size": 15000000000, "state": "available", "creation_date": "2025-07-07T14:22:58.145872+00:00",
      "modification_date": "2025-07-07T14:22:58.145872+00:00", "tags": [], "zone":
      "fr-par-1"}}, "tags": [], "state": "stopped", "protected": false, "state_detail":
      "", "public_ip": null, "public_ips": [], "mac_address": "de:00:00:bb:cf:0f",
      "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required":
      true, "enable_ipv6": false, "private_ip": null, "creation_date": "2025-07-07T14:22:58.145872+00:00",
      "modification_date": "2025-07-07T14:22:58.145872+00:00", "bootscript": null,
      "security_group": {"id": "2d7d322d-5ca8-4eea-9fdf-3885ed983d91", "name": "Default
      security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron",
      "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1",
      "filesystems": [], "end_of_service": false}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/fc0798ec-c637-463b-bf04-2e4449bd2d06
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"snp-vigorous-khayyam","volume_id":"b1db8aef-0a46-4194-90a9-ab836084cad2","project":"19a4819b-24bf-4d44-969f-935ef0061b71","volume_type":"l_ssd"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "9944e26b-8609-4061-ada3-ca06b474dd7f", "name": "snp-vigorous-khayyam",
      "volume_type": "l_ssd", "creation_date": "2025-07-07T14:22:58.515685+00:00",
      "modification_date": "2025-07-07T14:22:58.515685+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "size": 15000000000, "state":
      "available", "base_volume": {"id": "b1db8aef-0a46-4194-90a9-ab836084cad2", "name":
      "Ubuntu 20.04 Focal Fossa"}, "tags": [], "zone": "fr-par-1", "error_details":
      null}, "task": {"id": "a80b2125-0efa-4ebd-9626-b02b9bd930e9", "description":
      "volume_snapshot", "status": "pending", "href_from": "/snapshots", "href_result":
      "snapshots/9944e26b-8609-4061-ada3-ca06b474dd7f", "started_at": "2025-07-07T14:22:58.718007+00:00",
      "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/fc0798ec-c637-463b-bf04-2e4449bd2d06
    method: GET
  response:
    body: '{"server": {"id": "fc0798ec-c637-463b-bf04-2e4449bd2d06", "name": "srv-nervous-merkle",
      "arch": "x86_64", "commercial_type": "DEV1-S", "boot_type": "local", "organization":
      "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71",
      "hostname": "srv-nervou[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/b1db8aef-0a46-4194-90a9-ab836084cad2
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: '{"name":"new_name","tags":["foo","bar"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/9944e26b-8609-4061-ada3-ca06b474dd7f
    method: PATCH
  response:
    body: '{"snapshot": {"id": "9944e26b-8609-4061-ada3-ca06b474dd7f", "name": "new_name",
      "volume_type": "l_ssd", "creation_date": "2025-07-07T14:22:58.515685+00:00",
      "modification_date": "2025-07-07T14:22:59.165258+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "size": 15000000000, "state":
      "available", "base_volume": null, "tags": ["foo", "bar"], "zone": "fr-par-1",
      "error_details": null}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
