---
version: 1
interactions:
- request:
    body: '{"name":"volume_name","project":"951df375-e094-4d26-97c1-ba548eeb9c42","volume_type":"b_ssd","size":1000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "6ee0bb83-821b-422f-a993-49728a7e6677", "name": "volume_name",
      "volume_type": "b_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "server": null, "size": 1000000000,
      "state": "available", "creation_date": "2021-04-26T14:27:26.295902+00:00", "modification_date":
      "2021-04-26T14:27:26.295902+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api01.internal.scaleway.com/volumes/6ee0bb83-821b-422f-a993-49728a7e6677
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"name","volume_id":"6ee0bb83-821b-422f-a993-49728a7e6677","project":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "1295096f-30ef-4d4c-b7b6-592ee0f8f96f", "name": "name",
      "volume_type": "b_ssd", "creation_date": "2021-04-26T14:27:26.705614+00:00",
      "modification_date": "2021-04-26T14:27:26.705614+00:00", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "size": 1000000000, "state":
      "snapshotting", "base_volume": {"id": "6ee0bb83-821b-422f-a993-49728a7e6677",
      "name": "volume_name"}, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/1295096f-30ef-4d4c-b7b6-592ee0f8f96f
    method: GET
  response:
    body: '{"snapshot": {"id": "1295096f-30ef-4d4c-b7b6-592ee0f8f96f", "name": "name",
      "volume_type": "b_ssd", "creation_date": "2021-04-26T14:27:26.705614+00:00",
      "modification_date": "2021-04-26T14:27:26.705614+00:00", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "size": 1000000000, "state":
      "snapshotting", "base_volume": {"id": "6ee0bb83-821b-422f-a993-49728a7e6677",
      "name": "volume_name"}, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"new_name","organization":"951df375-e094-4d26-97c1-ba548eeb9c42","volume_type":"l_ssd","size":0,"state":"available","base_volume":null,"creation_date":"2021-04-26T14:27:26.705614Z","modification_date":"2021-04-26T14:27:26.705614Z","project":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/1295096f-30ef-4d4c-b7b6-592ee0f8f96f
    method: PUT
  response:
    body: '{"type": "invalid_request_error", "message": "Validation Error", "fields":
      {"id": ["required key not provided"]}}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
