---
version: 1
interactions:
- request:
    body: '{"name":"volume_name","project":"951df375-e094-4d26-97c1-ba548eeb9c42","volume_type":"b_ssd","size":1000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "79c9f864-d260-4847-81e7-423c1e092846", "name": "volume_name",
      "volume_type": "b_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "server": null, "size": 1000000000,
      "state": "available", "creation_date": "2021-04-27T13:02:31.071674+00:00", "modification_date":
      "2021-04-27T13:02:31.071674+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://par1-cmp-prd-api01.internal.scaleway.com/volumes/79c9f864-d260-4847-81e7-423c1e092846
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"name","volume_id":"79c9f864-d260-4847-81e7-423c1e092846","project":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "45e92409-e327-4416-ae13-b04693c0254b", "name": "name",
      "volume_type": "b_ssd", "creation_date": "2021-04-27T13:02:31.322596+00:00",
      "modification_date": "2021-04-27T13:02:31.322596+00:00", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "size": 1000000000, "state":
      "snapshotting", "base_volume": {"id": "79c9f864-d260-4847-81e7-423c1e092846",
      "name": "volume_name"}, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/45e92409-e327-4416-ae13-b04693c0254b
    method: GET
  response:
    body: '{"snapshot": {"id": "45e92409-e327-4416-ae13-b04693c0254b", "name": "name",
      "volume_type": "b_ssd", "creation_date": "2021-04-27T13:02:31.322596+00:00",
      "modification_date": "2021-04-27T13:02:31.322596+00:00", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "size": 1000000000, "state":
      "snapshotting", "base_volume": {"id": "79c9f864-d260-4847-81e7-423c1e092846",
      "name": "volume_name"}, "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
