---
version: 1
interactions:
- request:
    body: '{"name":"volume_name","project":"951df375-e094-4d26-97c1-ba548eeb9c42","volume_type":"b_ssd","size":1000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "ad3fe2d9-1a9f-4dab-b72a-4fa8fc0d94db", "name": "volume_name",
      "volume_type": "b_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "server": null, "size": 1000000000,
      "state": "available", "creation_date": "2022-03-08T12:52:49.763854+00:00", "modification_date":
      "2022-03-08T12:52:49.763854+00:00", "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/ad3fe2d9-1a9f-4dab-b72a-4fa8fc0d94db
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"name","volume_id":"ad3fe2d9-1a9f-4dab-b72a-4fa8fc0d94db","project":"951df375-e094-4d26-97c1-ba548eeb9c42"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: '{"snapshot": {"id": "55b999e4-51a1-474e-8ee4-4fd2c465eb5d", "name": "name",
      "volume_type": "b_ssd", "creation_date": "2022-03-08T12:52:50.267623+00:00",
      "modification_date": "2022-03-08T12:52:50.267623+00:00", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "size": 1000000000, "state":
      "snapshotting", "base_volume": {"id": "ad3fe2d9-1a9f-4dab-b72a-4fa8fc0d94db",
      "name": "volume_name"}, "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/55b999e4-51a1-474e-8ee4-4fd2c465eb5d
    method: GET
  response:
    body: '{"snapshot": {"id": "55b999e4-51a1-474e-8ee4-4fd2c465eb5d", "name": "name",
      "volume_type": "b_ssd", "creation_date": "2022-03-08T12:52:50.267623+00:00",
      "modification_date": "2022-03-08T12:52:50.267623+00:00", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "size": 1000000000, "state":
      "snapshotting", "base_volume": {"id": "ad3fe2d9-1a9f-4dab-b72a-4fa8fc0d94db",
      "name": "volume_name"}, "tags": [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
