---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"name\",\"description\":\"description\",\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"stateful\":true,\"inbound_default_policy\":\"accept\",\"outbound_default_policy\":\"drop\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups
    method: POST
  response:
    body: "{\"security_group\": {\"id\": \"95653df4-6103-4d92-b9e7-24dcef16ed47\", \"creation_date\": \"2025-09-05T15:46:04.714160+00:00\", \"modification_date\": \"2025-09-05T15:46:04.714160+00:00\", \"name\": \"name\", \"description\": \"description\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"servers\": [], \"stateful\": true, \"inbound_default_policy\": \"accept\", \"outbound_default_policy\": \"drop\", \"organization_default\": false, \"project_default\": false, \"enable_default_security\": true, \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/95653df4-6103-4d92-b9e7-24dcef16ed47
    status: 201 Created
    code: 201
    duration: 212.085654ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"new_name\",\"description\":\"new_description\",\"inbound_default_policy\":\"drop\",\"tags\":[\"foo\",\"bar\"],\"project_default\":false,\"outbound_default_policy\":\"accept\",\"stateful\":false}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/95653df4-6103-4d92-b9e7-24dcef16ed47
    method: PATCH
  response:
    body: "{\"security_group\": {\"id\": \"95653df4-6103-4d92-b9e7-24dcef16ed47\", \"creation_date\": \"2025-09-05T15:46:04.714160+00:00\", \"modification_date\": \"2025-09-05T15:46:04.787067+00:00\", \"name\": \"new_name\", \"description\": \"new_description\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"servers\": [], \"stateful\": false, \"inbound_default_policy\": \"drop\", \"outbound_default_policy\": \"accept\", \"organization_default\": false, \"project_default\": false, \"enable_default_security\": true, \"state\": \"syncing\", \"tags\": [\"foo\", \"bar\"], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 254.761347ms
[...]
