---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"instance_sdk_server_test\",\"dynamic_ip_required\":true,\"commercial_type\":\"START1-S\",\"image\":\"f974feac-abae-4365-b988-8ec7d1cec10d\",\"boot_type\":\"local\",\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":[\"foo\",\"bar\"]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: "{\"server\": {\"id\": \"71f7099c-dc1c-4b98-85d7-03ab49238549\", \"name\": \"instance_sdk_server_test\", \"arch\": \"x86_64\", \"commercial_type\": \"START1-S\", \"boot_type\": \"local\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"hostname\": \"instance-sdk-server-test\", \"image\": {\"id\": \"f974feac-abae-4365-b988-8ec7d1cec10d\", \"name\": \"Ubuntu Bionic Beaver\", \"organization\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"project\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"root_volume\": {\"id\": \"dd5f5c10-23b1-4c9c-8445-eb6740957c84\", \"name\": \"snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13\", \"volume_type\": \"l_ssd\", \"size\": 10000000000}, \"extra_volumes\": {}, \"public\": true, \"arch\": \"x86_64\", \"creation_date\": \"2019-03-05T10:13:15.974944+00:00\", \"modification_date\": \"2019-03-05T13:32:29.274319+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}, \"volumes\": {\"0\": {\"boot\": false, \"id\": \"bba09107-5e6d-476b-bd41-cbf2e8b18cf5\", \"name\": \"snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13\", \"volume_type\": \"l_ssd\", \"export_uri\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"server\": {\"id\": \"71f7099c-dc1c-4b98-85d7-03ab49238549\", \"name\": \"instance_sdk_server_test\"}, \"size\": 50000000000, \"state\": \"available\", \"creation_date\": \"2025-09-05T15:45:54.280983+00:00\", \"modification_date\": \"2025-09-05T15:45:54.280983+00:00\", \"tags\": [], \"zone\": \"fr-par-1\"}}, \"tags\": [\"foo\", \"bar\"], \"state\": \"stopped\", \"protected\": false, \"state_detail\": \"\", \"public_ip\": null, \"public_ips\": [], \"mac_address\": \"de:00:00:c6:ec:b9\", \"routed_ip_enabled\": true, \"ipv6\": null, \"extra_networks\": [], \"dynamic_ip_required\": true, \"enable_ipv6\": false, \"private_ip\": null, \"creation_date\": \"2025-09-05T15:45:54.280983+00:00\", \"modification_date\": \"2025-09-05T15:45:54.280983+00:00\", \"bootscript\": null, \"security_group\": {\"id\": \"5881315f-2400-43a0-ac75-08adf6cb8c12\", \"name\": \"Default security group\"}, \"location\": null, \"maintenances\": [], \"allowed_actions\": [\"poweron\", \"backup\"], \"placement_group\": null, \"private_nics\": [], \"zone\": \"fr-par-1\", \"filesystems\": [], \"end_of_service\": true}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/71f7099c-dc1c-4b98-85d7-03ab49238549
    status: 201 Created
    code: 201
    duration: 756.928833ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"some_new_name_for_server\",\"tags\":[]}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/71f7099c-dc1c-4b98-85d7-03ab49238549
    method: PATCH
  response:
    body: "{\"server\": {\"id\": \"71f7099c-dc1c-4b98-85d7-03ab49238549\", \"name\": \"some_new_name_for_server\", \"arch\": \"x86_64\", \"commercial_type\": \"START1-S\", \"boot_type\": \"local\"[...]
[...]
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/bba09107-5e6d-476b-bd41-cbf2e8b18cf5
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 125.885975ms
