---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"instance_utils_test\",\"commercial_type\":\"PRO2-XXS\",\"image\":\"81b9475d-e1b5-43c2-ac48-4c1a3b640686\",\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: "{\"server\": {\"id\": \"699d9a45-968e-408e-bdd7-41546870c373\", \"name\": \"instance_utils_test\", \"arch\": \"x86_64\", \"commercial_type\": \"PRO2-XXS\", \"boot_type\": \"local\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"hostname\": \"instance-utils-test\", \"image\": {\"id\": \"81b9475d-e1b5-43c2-ac48-4c1a3b640686\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\", \"organization\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"project\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"root_volume\": {\"id\": \"235f1b04-c3f6-4245-9530-43fb642ff96d\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\", \"volume_type\": \"l_ssd\", \"size\": 10000000000}, \"extra_volumes\": {}, \"public\": true, \"arch\": \"x86_64\", \"creation_date\": \"2023-08-08T13:35:09.293489+00:00\", \"modification_date\": \"2023-08-08T13:35:09.293489+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}, \"volumes\": {\"0\": {\"boot\": false, \"id\": \"103a6f60-0465-4758-ad97-954d211d0a05\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\", \"volume_type\": \"l_ssd\", \"export_uri\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"server\": {\"id\": \"699d9a45-968e-408e-bdd7-41546870c373\", \"name\": \"instance_utils_test\"}, \"size\": 10000000000, \"state\": \"available\", \"creation_date\": \"2025-09-05T15:45:56.437719+00:00\", \"modification_date\": \"2025-09-05T15:45:56.437719+00:00\", \"tags\": [], \"zone\": \"fr-par-1\"}}, \"tags\": [], \"state\": \"stopped\", \"protected\": false, \"state_detail\": \"\", \"public_ip\": null, \"public_ips\": [], \"mac_address\": \"de:00:00:c6:ec:bb\", \"routed_ip_enabled\": true, \"ipv6\": null, \"extra_networks\": [], \"dynamic_ip_required\": true, \"enable_ipv6\": false, \"private_ip\": null, \"creation_date\": \"2025-09-05T15:45:56.437719+00:00\", \"modification_date\": \"2025-09-05T15:45:56.437719+00:00\", \"bootscript\": null, \"security_group\": {\"id\": \"5881315f-2400-43a0-ac75-08adf6cb8c12\", \"name\": \"Default security group\"}, \"location\": null, \"maintenances\": [], \"allowed_actions\": [\"poweron\", \"backup\"], \"placement_group\": null, \"private_nics\": [], \"zone\": \"fr-par-1\", \"filesystems\": [], \"end_of_service\": false}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/699d9a45-968e-408e-bdd7-41546870c373
    status: 201 Created
    code: 201
    duration: 704.379364ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: "{\"ip\": {\"id\": \"65a60f6b-fa89-4e49-bc25-fced17fa3df3\", \"address\": \"51.15.236.240\", \"prefix\": null, \"reverse\": null, \"server\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"zone\": \"fr-par-1\", \"type\": \"routed_ipv4\", \"state\": \"detached\", \"tags\": [], \"ipam_id\": \"9daf2dd1-f284-43e5-8468-510d5865125e\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/65a60f6b-fa89-4e49-bc25-fced17fa3df3
    status: 201 Created
    code: 201
    duration: 510.302077ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"server\":\"699d9a45-968e-408e-bdd7-41546870c373\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/65a60f6b-fa89-4e49-bc25-fced17fa3df3
    method: PATCH
  response:
    body: "{\"ip\": {\"id\": \"65a60f6b-fa89-4e49-bc25-fced17fa3df3\", \"address\": \"51.15.236.240\", \"prefix\": null, \"reverse\": null, \"server\": {\"id\": \"699d9a45-968e-408e-bdd7-41546870c373\", \"name\": \"instance_utils_test\"}, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"zone\": \"fr-par-1\", \"type\": \"routed_ipv4\", \"state\": \"attached\", \"tags\": [], \"ipam_id\": \"9daf2dd1-f284-43e5-8468-510d5865125e\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 500.045691ms
[...]
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/103a6f60-0465-4758-ad97-954d211d0a05
    method: GET
  response:
    body: "{\"volume\": {\"id\": \"103a6f60-0465-4758-ad97-954d211d0a05\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\", \"volume_type\": \"l_ssd\", \"export_uri\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"server\": {\"id\": \"699d9a45-968e-408e-bdd7-41546870c373\", \"name\": \"instance_utils_test\"}, \"size\": 10000000000, \"state\": \"available\", \"creation_date\": \"2025-09-05T15:45:56.437719+00:00\", \"modification_date\": \"2025-09-05T15:45:56.437719+00:00\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 97.681095ms
- id: 6
  request:
    host: api.scaleway.com
    body: "{\"volume_id\":\"103a6f60-0465-4758-ad97-954d211d0a05\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/699d9a45-968e-408e-bdd7-41546870c373/detach-volume
    method: POST
  response:
    body: "{\"server\": {\"id\": \"699d9a45-968e-408e-bdd7-41546870c373\", \"name\": \"instance_utils_test\", \"arch\": \"x86_64\", \"commercial_type\": \"PRO2-XXS\", \"boot_type\": \"local\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\[...]
[...]
- id: 8
  request:
    host: api.scaleway.com
    body: "{\"volume_id\":\"103a6f60-0465-4758-ad97-954d211d0a05\",\"volume_type\":\"l_ssd\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/699d9a45-968e-408e-bdd7-41546870c373/attach-volume
    method: POST
  response:
    body: "{\"server\": {\"id\": \"699d9a45-968e-408e-bdd7-41546870c373\", \"name\": \"instance_utils_test\", \"arch\": \"x86_64\", \"commercial_type\":[...]
- id: 9
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/699d9a45-968e-408e-bdd7-41546870c373
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 160.879067ms
[...]
