---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"name\",\"description\":\"description\",\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"stateful\":true,\"inbound_default_policy\":\"accept\",\"outbound_default_policy\":\"drop\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups
    method: POST
  response:
    body: "{\"security_group\": {\"id\": \"98cc7dc1-392f-4318-9f19-b9d7ef608527\", \"creation_date\": \"2025-09-05T15:46:05.666392+00:00\", \"modification_date\": \"2025-09-05T15:46:05.666392+00:00\", \"name\": \"name\", \"description\": \"description\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"servers\": [], \"stateful\": true, \"inbound_default_policy\": \"accept\", \"outbound_default_policy\": \"drop\", \"organization_default\": false, \"project_default\": false, \"enable_default_security\": true, \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/98cc7dc1-392f-4318-9f19-b9d7ef608527
    status: 201 Created
    code: 201
    duration: 185.498903ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"protocol\":\"TCP\",\"direction\":\"inbound\",\"action\":\"accept\",\"ip_range\":\"8.8.8.8/32\",\"dest_port_from\":1,\"dest_port_to\":1024,\"position\":1}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/98cc7dc1-392f-4318-9f19-b9d7ef608527/rules
    method: POST
  response:
    body: "{\"rule\": {\"id\": \"0e8b997f-8814-4f73-bce9-3cf9367b0371\", \"protocol\": \"TCP\", \"direction\": \"inbound\", \"ip_range\": \"8.8.8.8\", \"dest_ip_range\": null, \"dest_port_from\": 1, \"dest_port_to\": 1024, \"position\": 1, \"editable\": true, \"action\": \"accept\", \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/98cc7dc1-392f-4318-9f19-b9d7ef608527/rules/0e8b997f-8814-4f73-bce9-3cf9367b0371
    status: 201 Created
    code: 201
    duration: 456.157841ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"protocol\":\"UDP\",\"direction\":\"outbound\",\"action\":\"drop\",\"ip_range\":\"1.1.1.1/32\",\"dest_port_from\":1,\"dest_port_to\":2048}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/98cc7dc1-392f-4318-9f19-b9d7ef608527/rules/0e8b997f-8814-4f73-bce9-3cf9367b0371
    method: PATCH
  response:
    body: "{\"rule\": {\"id\": \"0e8b997f-8814-4f73-bce9-3cf9367b0371\", \"protocol\": \"UDP\", \"direction\": \"outbound\", \"ip_range\": \"1.1.1.1\", \"dest_ip_range\": null, \"dest_port_from\": 1, \"dest_port_to\": 2048, \"position\": 1, \"editable\": true, \"action\": \"drop\", \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 230.032385ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/security_groups/98cc7dc1-392f-4318-9f19-b9d7ef608527
    method: GET
  response:
    body: "{\"security_group\": {\"id\": \"98cc7dc1-392f-4318-9f19-b9d7ef608527\", \"creation_date\": \"2025-09-05T15:46:05.666392+00:00\", \"modification_date\": \"2025-09-05T15:46:06.181296+00:00\", \"name\": \"name\", \"description\": \"description\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"servers\": [], \"stateful\": true, \"inbound_default_policy\": \"accept\", \"outbound_default_policy\": \"drop\", \"organization_default\": false, \"project_default\": false, \"enable_default_security\": true, \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 91.856705ms
[...]
