---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            order:
                - creation_date_desc
        headers:
        url: https://api.scaleway.com/instance/v1/zones/it-mil-1/servers?order=creation_date_desc
        method: GET
      response:
        body: '{"servers": [{"id": "a941bd74-da1a-4b67-9c71-d81d9e822598", "name": "cli-srv-focused-booth", "arch": "x86_64", "commercial_type": "BASIC3-X2C-4G", "boot_type": "local", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42", "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "hostname": "cli-srv-focused-booth", "image": {"id": "7f515058-2831-43f3-92bd-b5adfd2aaaf7", "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"volume_type": "sbs_snapshot", "id": "3e568b35-236b-4d11-bcc7-d011d36f135c", "size": 0, "name": ""}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2026-01-13T11:57:00.495021+00:00", "modification_date": "2026-01-13T11:57:00.495021+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "it-mil-1"}, "volumes": {"0": {"boot": false, "volume_type": "sbs_volume", "id": "28016e62-690d-4b8f-b04b-8f77190daba7", "state": "available", "zone": "it-mil-1"}}, "tags": [], "state": "running", "protected": false, "state_detail": "booted", "public_ip": {"id": "cd4d0181-f200-4dda-819d-3173e11685ab", "address": "151.115.165.238", "dynamic": false, "gateway": "62.210.0.1", "netmask": "32", "family": "inet", "provisioning_mode": "dhcp", "tags": [], "state": "attached", "ipam_id": "cd4d0181-f200-4dda-819d-3173e11685ab"}, "public_ips": [{"id": "cd4d0181-f200-4dda-819d-3173e11685ab", "address": "151.115.165.238", "dynamic": false, "gateway": "62.210.0.1", "netmask": "32", "family": "inet", "provisioning_mode": "dhcp", "tags": [], "state": "attached", "ipam_id": "cd4d0181-f200-4dda-819d-3173e11685ab"}], "mac_address": "de:00:00:00:68:2f", "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6": false, "private_ip": null, "creation_date": "2026-02-24T11:29:06.723007+00:00", "modification_date": "2026-02-24T11:29:07.900500+00:00", "bootscript": null, "security_group": {"id": "29886cb6-4f8a-4cf6-9d61-310214aadc1a", "name": "Default security group"}, "location": {"zone_id": "it-mil-1", "platform_id": "81", "cluster_id": "1", "hypervisor_id": "101", "node_id": "7"}, "maintenances": [], "allowed_actions": ["poweroff", "terminate", "reboot", "stop_in_place", "backup"], "placement_group": null, "private_nics": [], "zone": "it-mil-1", "filesystems": [], "end_of_service": false, "dns": "a941bd74-da1a-4b67-9c71-d81d9e822598.pub.instance.scw.eu"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </servers?page=1&per_page=50&order=creation_date_desc>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 215.578292ms
    - id: 1
      request:
        host: api.scaleway.com
        form:
            order:
                - creation_date_desc
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-3/servers?order=creation_date_desc
        method: GET
      response:
        body: '{"servers": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </servers?page=0&per_page=50&order=creation_date_desc>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 242.731834ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            order:
                - creation_date_desc
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-2/servers?order=creation_date_desc
        method: GET
      response:
        body: '{"servers": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </servers?page=0&per_page=50&order=creation_date_desc>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 270.376458ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        form:
            order:
                - creation_date_desc
        headers:
        url: https://api.scaleway.com/instance/v1/zones/pl-waw-3/servers?order=creation_date_desc
        method: GET
      response:
        body: '{"servers": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </servers?page=0&per_page=50&order=creation_date_desc>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 291.329125ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            order:
                - creation_date_desc
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/servers?order=creation_date_desc
        method: GET
      response:
        body: '{"servers": [{"id": "cab7f636-2b89-48d8-8425-d31685bc51f3", "name": "cli-srv-intelligent-bose", "arch": "x86_64", "commercial_type": "L40S-2-48G", "boot_type": "local", "organization": "951df375-e094-4d26-97c1-ba548eeb9c42", "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "hostname": "cli-srv-intelligent-bose", "image": {"id": "5c3d28db-33ce-4997-8572-f49506339283", "name": "Ubuntu Noble GPU OS 13 passthrough", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"volume_type": "sbs_snapshot", "id": "aaf995b6-40ef-469f-b3a1-960cd296adec", "size": 0, "name": ""}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2025-12-05T07:44:53.472943+00:00", "modification_date": "2025-12-05T07:44:53.472943+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-2"}, "volumes": {"0": {"boot": false, "volume_type": "sbs_volume", "id": "4427bfb1-c2cb-47ef-adb9-b64dfa3d7c04", "state": "available", "zone": "fr-par-2"}, "1": {"boot": false, "id": "3f6466c6-b986-4f06-804c-667ed3841796", "name": "autogenerated scratch volume", "volume_type": "scratch", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42", "project": "951df375-e094-4d26-97c1-ba548eeb9c42", "server": {"id": "cab7f636-2b89-48d8-8425-d31685bc51f3", "name": "cli-srv-intelligent-bose"}, "size": 3200000000000, "state": "available", "creation_date": "2026-01-13T16:38:53.420497+00:00", "modification_date": "2026-01-13T16:38:53.420497+00:00", "tags": [], "zone": "fr-par-2"}}, "tags": [], "state": "running", "protected": false, "state_detail": "booted", "public_ip": {"id": "ef24cc20-d3a1-4ace-b400-b3521e0afa8c", "address": "51.159.185.105", "dynamic": false, "gateway": "62.210.0.1", "netmask": "32",[...]
[...]
