---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"test volume\",\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"volume_type\":\"l_ssd\",\"size\":20000000000}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: "{\"volume\": {\"id\": \"35b5dd5b-380d-46d5-8a17-4d14fa381794\", \"name\": \"test volume\", \"volume_type\": \"l_ssd\", \"export_uri\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"server\": null, \"size\": 20000000000, \"state\": \"available\", \"creation_date\": \"2025-09-05T15:47:02.576022+00:00\", \"modification_date\": \"2025-09-05T15:47:02.576022+00:00\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/35b5dd5b-380d-46d5-8a17-4d14fa381794
    status: 201 Created
    code: 201
    duration: 196.056835ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"some new volume name\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/35b5dd5b-380d-46d5-8a17-4d14fa381794
    method: PATCH
  response:
    body: "{\"volume\": {\"id\": \"35b5dd5b-380d-46d5-8a17-4d14fa381794\", \"name\": \"some new volume name\", \"volume_type\": \"l_ssd\", \"export_uri\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"server\": null, \"size\": 20000000000, \"state\": \"available\", \"creation_date\": \"2025-09-05T15:47:02.576022+00:00\", \"modification_date\": \"2025-09-05T15:47:02.653226+00:00\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 116.12956ms
[...]
