---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      image_label:
      - ubuntu_focal
      order_by:
      - type_asc
      type:
      - unknown_type
      zone:
      - fr-par-1
    headers:
    url: https://api.scaleway.com/marketplace/v2/local-images?image_label=ubuntu_focal&order_by=type_asc&type=unknown_type&zone=fr-par-1
    method: GET
  response:
    body: "{\"local_images\":[{\"id\":\"4a4d2994-e7e0-4b29-a760-36235e6ba258\",\"arch\":\"x86_64\",\"zone\":\"fr-par-1\",\"compatible_commercial_types\":[\"DEV1-L\",\"DEV1-M\",\"DEV1-S\",\"DEV1-XL\",\"GP1-L\",\"GP1-M\",\"GP1-S\",\"GP1-XL\",\"GP1-XS\",\"STARDUST1-S\",\"START1-L\",\"START1-M\",\"START1-S\",\"START1-XS\",\"VC1L\",\"VC1M\",\"VC1S\",\"X64-120GB\",\"X64-15GB\",\"X64-30GB\",\"X64-60GB\"],\"label\":\"ubuntu_focal\",\"type\":\"instance_local\"},{\"id\":\"066aa37f-004d-417d-9506-323c63f3ec8a\",\"arch\":\"arm64\",\"zone\":\"fr-par-1\",\"compatible_commercial_types\":[\"COPARM1-2C-8G\",\"COPARM1-4C-16G\",\"COPARM1-8C-32G\",\"COPARM1-16C-64G\",\"COPARM1-32C-128G\"],\"label\":\"ubuntu_focal\",\"type\":\"instance_sbs\"},{\"id\":\"7f30a934-2f17-4868-b3a3-eb7a8b90792e\",\"arch\":\"x86_64\",\"zone\":\"fr-par-1\",\"compatible_commercial_types\":[\"DEV1-L\",\"DEV1-M\",\"DEV1-S\",\"DEV1-XL\",\"GP1-L\",\"GP1-M\",\"GP1-S\",\"GP1-XL\",\"GP1-XS\",\"START1-L\",\"START1-M\",\"START1-S\",\"START1-XS\",\"VC1L\",\"VC1M\",\"VC1S\",\"X64-120GB\",\"X64-15GB\",\"X64-30GB\",\"X64-60GB\",\"ENT1-XXS\",\"ENT1-XS\",\"ENT1-S\",\"ENT1-M\",\"ENT1-L\",\"ENT1-XL\",\"ENT1-2XL\",\"PRO2-XXS\",\"PRO2-XS\",\"PRO2-S\",\"PRO2-M\",\"PRO2-L\",\"STARDUST1-S\",\"PLAY2-MICRO\",\"PLAY2-NANO\",\"PLAY2-PICO\",\"POP2-2C-8G\",\"POP2-4C-16G\",\"POP2-8C-32G\",\"POP2-16C-64G\",\"POP2-32C-128G\",\"POP2-48C-192G\",\"POP2-64C-256G\",\"POP2-HM-2C-16G\",\"POP2-HM-4C-32G\",\"POP2-HM-8C-64G\",\"POP2-HM-16C-128G\",\"POP2-HM-32C-256G\",\"POP2-HM-48C-384G\",\"POP2-HM-64C-512G\",\"POP2-HC-2C-4G\",\"POP2-HC-4C-8G\",\"POP2-HC-8C-16G\",\"POP2-HC-16C-32G\",\"POP2-HC-32C-64G\",\"POP2-HC-48C-96G\",\"POP2-HC-64C-128G\",\"POP2-HN-3\",\"POP2-HN-5\",\"POP2-HN-10\"],\"label\":\"ubuntu_focal\",\"type\":\"instance_sbs\"}],\"total_count\":3}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 116.619068ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"srv-pensive-gagarin\",\"commercial_type\":\"DEV1-M\",\"image\":\"4a4d2994-e7e0-4b29-a760-36235e6ba258\",\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: "{\"server\": {\"id\": \"c1ec7051-46b0-4fb8-968e-4ad5f1468bef\", \"name\": \"srv-pensive-gagarin\", \"arch\": \"x86_64\", \"commercial_type\": \"DEV1-M\", \"boot_type\": \"local\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"hostname\": \"srv-pensive-gagarin\", \"image\": {\"id\": \"4a4d2994-e7e0-4b29-a760-36235e6ba258\", \"name\": \"Ubuntu 20.04 Focal Fossa\", \"organization\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"project\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"root_volume\": {\"id\": \"37000787-865a-4306-8ac4-5a0b2e2fcbbe\", \"name\": \"Ubuntu 20.04 Focal Fossa\", \"volume_type\": \"l_ssd\", \"size\": 10000000000}, \"extra_volumes\": {}, \"public\": true, \"arch\": \"x86_64\", \"creation_date\": \"2025-06-25T15:47:39.547126+00:00\", \"modification_date\": \"2025-06-25T15:47:39.547126+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}, \"volumes\": {\"0\": {\"boot\": false, \"id\": \"a0193858-53ab-4a9b-ab20-b443b64d998e\", \"name\": \"Ubuntu 20.04 Focal Fossa\", \"volume_type\": \"l_ssd\", \"export_uri\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"server\": {\"id\": \"c1ec7051-46b0-4fb8-968e-4ad5f1468bef\", \"name\": \"srv-pensive-gagarin\"}, \"size\": 40000000000, \"state\": \"available\", \"creation_date\": \"2025-09-05T15:46:58.794692+00:00\", \"modification_date\": \"2025-09-05T15:46:58.794692+00:00\", \"tags\": [], \"zone\": \"fr-par-1\"}}, \"tags\": [], \"state\": \"stopped\", \"protected\": false, \"state_detail\": \"\", \"public_ip\": null, \"public_ips\": [], \"mac_address\": \"de:00:00:c6:ec:e1\", \"routed_ip_enabled\": true, \"ipv6\": null, \"extra_networks\": [], \"dynamic_ip_required\": true, \"enable_ipv6\": false, \"private_ip\": null, \"creation_date\": \"2025-09-05T15:46:58.794692+00:00\", \"modification_date\": \"2025-09-05T15:46:58.794692+00:00\", \"bootscript\": null, \"security_group\": {\"id\": \"5881315f-2400-43a0-ac75-08adf6cb8c12\", \"name\": \"Default security group\"}, \"location\": null, \"maintenances\": [], \"allowed_actions\": [\"poweron\", \"backup\"], \"placement_group\": null, \"private_nics\": [], \"zone\": \"fr-par-1\", \"filesystems\": [], \"end_of_service\": false}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/c1ec7051-46b0-4fb8-968e-4ad5f1468bef
    status: 201 Created
    code: 201
    duration: 655.25599ms
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"backup\",\"volume_id\":\"a0193858-53ab-4a9b-ab20-b443b64d998e\",\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: "{\"snapshot\": {\"id\": \"71722f74-0a72-4fad-801c-1b61b9b19aa0\", \"name\": \"backup\", \"volume_type\": \"l_ssd\", \"creation_date\": \"2025-09-05T15:46:59.158252+00:00\", \"modification_date\": \"2025-09-05T15:46:59.158252+00:00\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"size\": 40000000000, \"state\": \"available\", \"base_volume\": {\"id\": \"a0193858-53ab-4a9b-ab20-b443b64d998e\", \"name\": \"Ubuntu 20.04 Focal Fossa\"}, \"tags\": [], \"zone\": \"fr-par-1\", \"error_details\": null}, \"task\": {\"id\": \"c6154cdd-364c-4751-8a91-792fc60e91d1\", \"description\": \"volume_snapshot\", \"status\": \"pending\", \"href_from\": \"/snapshots\", \"href_result\": \"snapshots/71722f74-0a72-4fad-801c-1b61b9b19aa0\", \"started_at\": \"2025-09-05T15:46:59.370018+00:00\", \"terminated_at\": null, \"progress\": 0, \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: 428.315823ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/71722f74-0a72-4fad-801c-1b61b9b19aa0
    method: GET
  response:
    body: "{\"snapshot\": {\"id\": \"71722f74-0a72-4fad-801c-1b61b9b19aa0\", \"name\": \"backup\", \"volume_type\": \"l_ssd\", \"creation_date\": \"2025-09-05T15:46:59.158252+00:00\", \"modification_date\": \"2025-09-05T15:46:59.158252+00:00\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"size\": 40000000000, \"state\": \"available\", \"base_volume\": {\"id\": \"a0193858-53ab-4a9b-ab20-b443b64d998e\", \"name\": \"Ubuntu 20.04 Focal Fossa\"}, \"tags\": [], \"zone\": \"fr-par-1\", \"error_details\": null}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 99.32873ms
[...]
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/c1ec7051-46b0-4fb8-968e-4ad5f1468bef
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 214.093385ms
[...]
