---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"instance_utils_test\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"from_empty\":{\"size\":20000000000},\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
    method: POST
  response:
    body: "{\"id\":\"4f70120c-36f1-49d4-90c2-8850e0896970\",\"name\":\"instance_utils_test\",\"type\":\"sbs_5k\",\"size\":20000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T15:46:00.148181Z\",\"updated_at\":\"2025-09-05T15:46:00.148181Z\",\"references\":[],\"parent_snapshot_id\":null,\"status\":\"creating\",\"tags\":[],\"specs\":{\"perf_iops\":5000,\"class\":\"sbs\"},\"last_detached_at\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 307.293243ms
[...]
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"name\":\"instance_utils_test\",\"commercial_type\":\"PRO2-XXS\",\"image\":\"81b9475d-e1b5-43c2-ac48-4c1a3b640686\",\"volumes\":{\"0\":{\"id\":\"4f70120c-36f1-49d4-90c2-8850e0896970\",\"volume_type\":\"sbs_volume\"}},\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: "{\"server\": {\"id\": \"d1ed4b6d-697a-42ca-97b9-16c053f98cca\", \"name\": \"instance_utils_test\", \"arch\": \"x86_64\", \"commercial_type\": \"PRO2-XXS\", \"boot_type\": \"local\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"hostname\": \"instance-utils-test\", \"image\": {\"id\": \"81b9475d-e1b5-43c2-ac48-4c1a3b640686\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\", \"organization\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"project\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"root_volume\": {\"id\": \"235f1b04-c3f6-4245-9530-43fb642ff96d\", \"name\": \"Ubuntu 22.04 Jammy Jellyfish\", \"volume_type\": \"l_ssd\", \"size\": 10000000000}, \"extra_volumes\": {}, \"public\": true, \"arch\": \"x86_64\", \"creation_date\": \"2023-08-08T13:35:09.293489+00:00\", \"modification_date\": \"2023-08-08T13:35:09.293489+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}, \"volumes\": {\"0\": {\"boot\": false, \"volume_type\": \"sbs_volume\", \"id\": \"4f70120c-36f1-49d4-90c2-8850e0896970\", \"zone\": \"fr-par-1\"}}, \"tags\": [], \"state\": \"stopped\", \"protected\": false, \"state_detail\": \"\", \"public_ip\": null, \"public_ips\": [], \"mac_address\": \"de:00:00:c6:ec:bd\", \"routed_ip_enabled\": true, \"ipv6\": null, \"extra_networks\": [], \"dynamic_ip_required\": true, \"enable_ipv6\": false, \"private_ip\": null, \"creation_date\": \"2025-09-05T15:46:01.133782+00:00\", \"modification_date\": \"2025-09-05T15:46:01.133782+00:00\", \"bootscript\": null, \"security_group\": {\"id\": \"5881315f-2400-43a0-ac75-08adf6cb8c12\", \"name\": \"Default security group\"}, \"location\": null, \"maintenances\": [], \"allowed_actions\": [\"poweron\", \"backup\"], \"placement_group\": null, \"private_nics\": [], \"zone\": \"fr-par-1\", \"filesystems\": [], \"end_of_service\": false}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/d1ed4b6d-697a-42ca-97b9-16c053f98cca
    status: 201 Created
    code: 201
    duration: 1.198392173s
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/4f70120c-36f1-49d4-90c2-8850e0896970
    method: GET
  response:
    body: "{\"type\": \"not_found\", \"message\": \"resource is not found\", \"resource\": \"instance_volume\", \"resource_id\": \"4f70120c-36f1-49d4-90c2-8850e0896970\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 31.630896ms
- id: 4
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/4f70120c-36f1-49d4-90c2-8850e0896970
    method: GET
  response:
    body: "{\"id\":\"4f70120c-36f1-49d4-90c2-8850e0896970\",\"name\":\"instance_utils_test\",\"type\":\"sbs_5k\",\"size\":20000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T15:46:00.148181Z\",\"updated_at\":\"2025-09-05T15:46:01.238627Z\",\"references\":[{\"id\":\"a6f6c770-1823-4edd-8a22-a0ed90472fef\",\"product_resource_type\":\"instance_server\",\"product_resource_id\":\"d1ed4b6d-697a-42ca-97b9-16c053f98cca\",\"created_at\":\"2025-09-05T15:46:01.238627Z\",\"type\":\"exclusive\",\"status\":\"attached\"}],\"parent_snapshot_id\":null,\"status\":\"in_use\",\"tags\":[],\"specs\":{\"perf_iops\":5000,\"class\":\"sbs\"},\"last_detached_at\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 90.028991ms
- id: 5
  request:
    host: api.scaleway.com
    body: "{\"volume_id\":\"4f70120c-36f1-49d4-90c2-8850e0896970\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/d1ed4b6d-697a-42ca-97b9-16c053f98cca/detach-volume
    method: POST
  response:
    body: "{\"server\": {\"id\": \"d1ed4b6d-697a-42ca-97b9-16c053f98cca\", \"name\": \"instance_utils_test\", \"arch\": \"x86_64\", \"commercial_type\": \"PRO2-XXS\", \"boot_type\": \"local\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\[...]
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/d1ed4b6d-697a-42ca-97b9-16c053f98cca
    method: GET
  response:
    body: "{\"server\": {\"id\": \"d1ed4b6d-697a-42ca-97b9-16c053f98cca\", \"name\": \"instance_utils_test\", \"arch\": \"x86_64\", \"commercial_type\": \"PRO2-XXS\", \"boot_type\": \"local\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\",[...]
[...]
- id: 10
  request:
    host: api.scaleway.com
    body: "{\"volume_id\":\"4f70120c-36f1-49d4-90c2-8850e0896970\",\"volume_type\":\"sbs_volume\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/d1ed4b6d-697a-42ca-97b9-16c053f98cca/attach-volume
    method: POST
  response:
    body: "{\"server\": {\"id\": \"d1ed4b6d-697a-42ca-97b9-16c053f98cca\", \"name\": \"instance_utils_test\", \"arch\": \"x86_64\", \"commercial_t[...]
[...]
