---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"srv-ecstatic-chandrasekhar\",\"commercial_type\":\"DEV1-S\",\"image\":\"f974feac-abae-4365-b988-8ec7d1cec10d\",\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: "{\"server\": {\"id\": \"2e0394ea-120c-4a15-ad78-053f844d486c\", \"name\": \"srv-ecstatic-chandrasekhar\", \"arch\": \"x86_64\", \"commercial_type\": \"DEV1-S\", \"boot_type\": \"local\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"hostname\": \"srv-ecstatic-chandrasekhar\", \"image\": {\"id\": \"f974feac-abae-4365-b988-8ec7d1cec10d\", \"name\": \"Ubuntu Bionic Beaver\", \"organization\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"project\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"root_volume\": {\"id\": \"dd5f5c10-23b1-4c9c-8445-eb6740957c84\", \"name\": \"snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13\", \"volume_type\": \"l_ssd\", \"size\": 10000000000}, \"extra_volumes\": {}, \"public\": true, \"arch\": \"x86_64\", \"creation_date\": \"2019-03-05T10:13:15.974944+00:00\", \"modification_date\": \"2019-03-05T13:32:29.274319+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}, \"volumes\": {\"0\": {\"boot\": false, \"id\": \"5abd29d8-61be-4948-bb82-0aaf0c27cc69\", \"name\": \"snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13\", \"volume_type\": \"l_ssd\", \"export_uri\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"server\": {\"id\": \"2e0394ea-120c-4a15-ad78-053f844d486c\", \"name\": \"srv-ecstatic-chandrasekhar\"}, \"size\": 20000000000, \"state\": \"available\", \"creation_date\": \"2025-09-05T15:46:10.188873+00:00\", \"modification_date\": \"2025-09-05T15:46:10.188873+00:00\", \"tags\": [], \"zone\": \"fr-par-1\"}}, \"tags\": [], \"state\": \"stopped\", \"protected\": false, \"state_detail\": \"\", \"public_ip\": null, \"public_ips\": [], \"mac_address\": \"de:00:00:c6:ec:bf\", \"routed_ip_enabled\": true, \"ipv6\": null, \"extra_networks\": [], \"dynamic_ip_required\": true, \"enable_ipv6\": false, \"private_ip\": null, \"creation_date\": \"2025-09-05T15:46:10.188873+00:00\", \"modification_date\": \"2025-09-05T15:46:10.188873+00:00\", \"bootscript\": null, \"security_group\": {\"id\": \"5881315f-2400-43a0-ac75-08adf6cb8c12\", \"name\": \"Default security group\"}, \"location\": null, \"maintenances\": [], \"allowed_actions\": [\"poweron\", \"backup\"], \"placement_group\": null, \"private_nics\": [], \"zone\": \"fr-par-1\", \"filesystems\": [], \"end_of_service\": false}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/2e0394ea-120c-4a15-ad78-053f844d486c
    status: 201 Created
    code: 201
    duration: 730.100769ms
- id: 1
  request:
    host: api.scaleway.com
    body: world
    headers:
      Content-Type:
      - text/plain
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/2e0394ea-120c-4a15-ad78-053f844d486c/user_data/hello
    method: PATCH
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain
    status: 204 No Content
    code: 204
    duration: 141.625962ms
[...]
