---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"srv-intelligent-bohr\",\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: "{\"type\": \"invalid_arguments\", \"message\": \"invalid argument(s)\", \"details\": [{\"argument_name\": \"commercial_type\", \"reason\": \"required\", \"help_message\": \"required key not provided\"}, {\"argument_name\": \"image\", \"reason\": \"required\", \"help_message\": \"required key not provided\"}, {\"argument_name\": \"volumes\", \"reason\": \"required\", \"help_message\": \"required key not provided\"}]}"
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: 78.582631ms
