---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      image_label:
      - ubuntu_noble
      order_by:
      - type_asc
      type:
      - unknown_type
      zone:
      - fr-par-1
    headers:
    url: https://api.scaleway.com/marketplace/v2/local-images?image_label=ubuntu_noble&order_by=type_asc&type=unknown_type&zone=fr-par-1
    method: GET
  response:
    body: "{\"local_images\":[{\"id\":\"98cf81a9-f0bd-4deb-8893-33f362f7421e\",\"arch\":\"x86_64\",\"zone\":\"fr-par-1\",\"compatible_commercial_types\":[\"DEV1-L\",\"DEV1-M\",\"DEV1-S\",\"DEV1-XL\",\"GP1-L\",\"GP1-M\",\"GP1-S\",\"GP1-XL\",\"GP1-XS\",\"STARDUST1-S\",\"START1-L\",\"START1-M\",\"START1-S\",\"START1-XS\",\"VC1L\",\"VC1M\",\"VC1S\",\"X64-120GB\",\"X64-15GB\",\"X64-30GB\",\"X64-60GB\"],\"label\":\"ubuntu_noble\",\"type\":\"instance_local\"},{\"id\":\"6472cd88-225c-4c22-8eb0-381a265e7829\",\"arch\":\"arm64\",\"zone\":\"fr-par-1\",\"compatible_commercial_types\":[\"COPARM1-2C-8G\",\"COPARM1-4C-16G\",\"COPARM1-8C-32G\",\"COPARM1-16C-64G\",\"COPARM1-32C-128G\"],\"label\":\"ubuntu_noble\",\"type\":\"instance_sbs\"},{\"id\":\"da954c89-6891-4c70-8fdc-63e094449a63\",\"arch\":\"x86_64\",\"zone\":\"fr-par-1\",\"compatible_commercial_types\":[\"DEV1-L\",\"DEV1-M\",\"DEV1-S\",\"DEV1-XL\",\"GP1-L\",\"GP1-M\",\"GP1-S\",\"GP1-XL\",\"GP1-XS\",\"START1-L\",\"START1-M\",\"START1-S\",\"START1-XS\",\"VC1L\",\"VC1M\",\"VC1S\",\"X64-120GB\",\"X64-15GB\",\"X64-30GB\",\"X64-60GB\",\"ENT1-XXS\",\"ENT1-XS\",\"ENT1-S\",\"ENT1-M\",\"ENT1-L\",\"ENT1-XL\",\"ENT1-2XL\",\"PRO2-XXS\",\"PRO2-XS\",\"PRO2-S\",\"PRO2-M\",\"PRO2-L\",\"STARDUST1-S\",\"PLAY2-MICRO\",\"PLAY2-NANO\",\"PLAY2-PICO\",\"POP2-2C-8G\",\"POP2-4C-16G\",\"POP2-8C-32G\",\"POP2-16C-64G\",\"POP2-32C-128G\",\"POP2-48C-192G\",\"POP2-64C-256G\",\"POP2-HM-2C-16G\",\"POP2-HM-4C-32G\",\"POP2-HM-8C-64G\",\"POP2-HM-16C-128G\",\"POP2-HM-32C-256G\",\"POP2-HM-48C-384G\",\"POP2-HM-64C-512G\",\"POP2-HC-2C-4G\",\"POP2-HC-4C-8G\",\"POP2-HC-8C-16G\",\"POP2-HC-16C-32G\",\"POP2-HC-32C-64G\",\"POP2-HC-48C-96G\",\"POP2-HC-64C-128G\",\"POP2-HN-3\",\"POP2-HN-5\",\"POP2-HN-10\"],\"label\":\"ubuntu_noble\",\"type\":\"instance_sbs\"}],\"total_count\":3}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 67.629275ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"srv-clever-rubin\",\"commercial_type\":\"GP1-XS\",\"image\":\"98cf81a9-f0bd-4deb-8893-33f362f7421e\",\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: "{\"server\": {\"id\": \"bc1afd47-439d-4f8a-b877-e5ac2f69b321\", \"name\": \"srv-clever-rubin\", \"arch\": \"x86_64\", \"commercial_type\": \"GP1-XS\", \"boot_type\": \"local\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"hostname\": \"srv-clever-rubin\", \"image\": {\"id\": \"98cf81a9-f0bd-4deb-8893-33f362f7421e\", \"name\": \"Ubuntu 24.04 Noble Numbat\", \"organization\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"project\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"root_volume\": {\"id\": \"8648e65e-751c-4bf1-9172-6c57c5375e83\", \"name\": \"Ubuntu 24.04 Noble Numbat\", \"volume_type\": \"l_ssd\", \"size\": 10000000000}, \"extra_volumes\": {}, \"public\": true, \"arch\": \"x86_64\", \"creation_date\": \"2025-07-22T09:11:39.995342+00:00\", \"modification_date\": \"2025-07-22T09:11:39.995342+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}, \"volumes\": {\"0\": {\"boot\": false, \"id\": \"14b3e1dd-df0b-499d-9d26-17db2d73b918\", \"name\": \"Ubuntu 24.04 Noble Numbat\", \"volume_type\": \"l_ssd\", \"export_uri\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"server\": {\"id\": \"bc1afd47-439d-4f8a-b877-e5ac2f69b321\", \"name\": \"srv-clever-rubin\"}, \"size\": 150000000000, \"state\": \"available\", \"creation_date\": \"2025-09-05T15:46:15.876097+00:00\", \"modification_date\": \"2025-09-05T15:46:15.876097+00:00\", \"tags\": [], \"zone\": \"fr-par-1\"}}, \"tags\": [], \"state\": \"stopped\", \"protected\": false, \"state_detail\": \"\", \"public_ip\": null, \"public_ips\": [], \"mac_address\": \"de:00:00:c6:ec:c7\", \"routed_ip_enabled\": true, \"ipv6\": null, \"extra_networks\": [], \"dynamic_ip_required\": true, \"enable_ipv6\": false, \"private_ip\": null, \"creation_date\": \"2025-09-05T15:46:15.876097+00:00\", \"modification_date\": \"2025-09-05T15:46:15.876097+00:00\", \"bootscript\": null, \"security_group\": {\"id\": \"5881315f-2400-43a0-ac75-08adf6cb8c12\", \"name\": \"Default security group\"}, \"location\": null, \"maintenances\": [], \"allowed_actions\": [\"poweron\", \"backup\"], \"placement_group\": null, \"private_nics\": [], \"zone\": \"fr-par-1\", \"filesystems\": [], \"end_of_service\": false}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/bc1afd47-439d-4f8a-b877-e5ac2f69b321
    status: 201 Created
    code: 201
    duration: 715.96194ms
- id: 2
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/marketplace/v2/local-images/98cf81a9-f0bd-4deb-8893-33f362f7421e
    method: GET
  response:
    body: "{\"id\":\"98cf81a9-f0bd-4deb-8893-33f362f7421e\",\"arch\":\"x86_64\",\"zone\":\"fr-par-1\",\"compatible_commercial_types\":[\"DEV1-L\",\"DEV1-M\",\"DEV1-S\",\"DEV1-XL\",\"GP1-L\",\"GP1-M\",\"GP1-S\",\"GP1-XL\",\"GP1-XS\",\"STARDUST1-S\",\"START1-L\",\"START1-M\",\"START1-S\",\"START1-XS\",\"VC1L\",\"VC1M\",\"VC1S\",\"X64-120GB\",\"X64-15GB\",\"X64-30GB\",\"X64-60GB\"],\"label\":\"ubuntu_noble\",\"type\":\"instance_local\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 83.487103ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/bc1afd47-439d-4f8a-b877-e5ac2f69b321
    method: GET
  response:
    body: "{\"server\": {\"id\": \"bc1afd47-439d-4f8a-b877-e5ac2f69b321\", \"name\": \"srv-clever-rubin\", \"arch\": \"x86_64\", \"commercial_type\": \"GP1-XS\", \"boot_type\": \"local\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"ho[...]
[...]
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/14b3e1dd-df0b-499d-9d26-17db2d73b918
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 139.398337ms
- id: 6
  request:
    host: api.scaleway.com
    form:
      image_label:
      - ubuntu_noble
      order_by:
      - type_asc
      type:
      - instance_sbs
      zone:
      - fr-par-1
    headers:
    url: https://api.scaleway.com/marketplace/v2/local-images?image_label=ubuntu_noble&order_by=type_asc&type=instance_sbs&zone=fr-par-1
    method: GET
  response:
    body: "{\"local_images\":[{\"id\":\"6472cd88-225c-4c22-8eb0-381a265e7829\",\"arch\":\"arm64\",\"zone\":\"fr-par-1\",\"compatibl[...]
[...]
- id: 11
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/a8d2ff77-ce6c-40ec-957e-bee39d8ac4a2
    method: GET
  response:
    body: "{\"id\":\"a8d2ff77-ce6c-40ec-957e-bee39d8ac4a2\",\"name\":\"Ubuntu 24.04 Noble Numbat_sbs_volume_0\",\"type\":\"sbs_5k\",\"size\":15000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T15:46:17.427760Z\",\"updated_at\":\"2025-09-05T15:46:17.427760Z\",\"references\":[{\"id\":\"d546a06b-5b75-4ea1-b8cc-82b9cf8817d5\",\"product_resource_type\":\"instance_server\",\"product_resource_id\":\"6720f8f3-31ff-425c-abf7-e27234ce91dc\",\"created_at\":\"2025-09-05T15:46:17.427760Z\",\"type\":\"exclusive\",\"status\":\"detaching\"}],\"parent_snapshot_id\":\"8327ef41-ab6c-4df2-8eea-50a18a2bda6e\",\"status\":\"in_use\",\"tags\":[],\"specs\":{\"perf_iops\":5000,\"class\":\"sbs\"},\"last_detached_at\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 71.282147ms
[...]
- id: 14
  request:
    host: api.scaleway.com
    form:
      image_label:
      - ubuntu_noble
      order_by:
      - type_asc
      type:
      - instance_local
      zone:
      - fr-par-1
    headers:
    url: https://api.scaleway.com/marketplace/v2/local-images?image_label=ubuntu_noble&order_by=type_asc&type=instance_local&zone=fr-par-1
    method: GET
  response:
    body: "{\"local_images\":[{\"id\":\"98cf81a9-f0bd-4deb-8893-33f362f7421e\",\"arch\":\"x86_64\",\"zone\":\"fr-par-1\",\"compatible_commercial_types\":[\"DEV1-L\",\"DEV1-M\",\"DEV1-S\",\"DEV1-XL\",\"GP1-L\",\"GP1-M\",\"GP1-S\",\"GP1-XL\",\"GP1-XS\",\"STARDUST1-S\",\"START1-L\",\"START1-M\",\"START1-S\",\"START1-XS\",\"VC1L\",\"VC1M\",\"VC1S\",\"X64-120GB\",\"X64-15GB\",\"X64-30GB\",\"X64-60GB\"],\"label\":\"ubuntu_noble\",\"type\":\"instance_local\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 113.43106ms
[...]
- id: 20
  request:
    host: api.scaleway.com
    body: "{\"name\":\"vol-fervent-dirac\",\"perf_iops\":5000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"from_empty\":{\"size\":15000000000},\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
    method: POST
  response:
    body: "{\"id\":\"55137dde-1365-4425-9bbe-6b70819b3216\",\"name\":\"vol-fervent-dirac\",\"type\":\"sbs_5k\",\"size\":15000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T15:46:25.302680Z\",\"updated_at\":\"2025-09-05T15:46:25.302680Z\",\"references\":[],\"parent_snapshot_id\":null,\"status\":\"creating\",\"tags\":[],\"specs\":{\"perf_iops\":5000,\"class\":\"sbs\"},\"last_detached_at\":null,\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 237.902879ms
[...]
- id: 22
  request:
    host: api.scaleway.com
    body: "{\"volume_id\":\"55137dde-1365-4425-9bbe-6b70819b3216\",\"name\":\"snp-objective-swanson\",\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"tags\":null}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: "{\"id\":\"73c96712-7503-4e75-aa0d-549a44b8d2db\",\"name\":\"snp-objective-swanson\",\"parent_volume\":{\"id\":\"55137dde-1365-4425-9bbe-6b70819b3216\",\"name\":\"vol-fervent-dirac\",\"type\":\"sbs_5k\",\"status\":\"available\"},\"size\":15000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T15:46:25.721023Z\",\"updated_at\":\"2025-09-05T15:46:25.721023Z\",\"references\":[],\"status\":\"creating\",\"tags\":[],\"class\":\"sbs\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 439.201992ms
- id: 23
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/snapshots/73c96712-7503-4e75-aa0d-549a44b8d2db
    method: GET
  response:
    body: "{\"id\":\"73c96712-7503-4e75-aa0d-549a44b8d2db\",\"name\":\"snp-objective-swanson\",\"parent_volume\":{\"id\":\"55137dde-1365-4425-9bbe-6b70819b3216\",\"name\":\"vol-fervent-dirac\",\"type\":\"sbs_5k\",\"status\":\"available\"},\"size\":15000000000,\"project_id\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"created_at\":\"2025-09-05T15:46:25.721023Z\",\"updated_at\":\"2025-09-05T15:46:25.721023Z\",\"references\":[],\"status\":\"creating\",\"tags\":[],\"class\":\"sbs\",\"zone\":\"fr-par-1\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 193.305387ms
[...]
- id: 27
  request:
    host: api.scaleway.com
    body: "{\"name\":\"srv-strange-boyd\",\"commercial_type\":\"GP1-XS\",\"image\":\"da954c89-6891-4c70-8fdc-63e094449a63\",\"volumes\":{\"0\":{\"name\":\"sbs-volume-from-snap\",\"volume_type\":\"sbs_volume\",\"base_snapshot\":\"73c96712-7503-4e75-aa0d-549a44b8d2db\"}},\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: "{\"server\": {\"id\": \"cc3de67c-d32a-4f99-a669-5c3bbe327eb7\", \"name\": \"srv-strange-boyd\", \"arch\": \"x86_64\", \"commercial_type\": \"GP1-XS\", \"boot_type\": \"local\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\"[...]
[...]
- id: 34
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/73c96712-7503-4e75-aa0d-549a44b8d2db
    method: DELETE
  response:
    body: "{\"type\": \"not_found\", \"message\": \"resource is not found\", \"resource\": \"instance_snapshot\", \"resource_id\": \"73c96712-7503-4e75-aa0d-549a44b8d2db\"}"
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 38.497745ms
[...]
- id: 36
  request:
    host: api.scaleway.com
    form:
      image_label:
      - ubuntu_focal
      order_by:
      - type_asc
      type:
      - instance_local
      zone:
      - fr-par-1
    headers:
    url: https://api.scaleway.com/marketplace/v2/local-images?image_label=ubuntu_focal&order_by=type_asc&type=instance_local&zone=fr-par-1
    method: GET
  response:
    body: "{\"local_images\":[{\"id\":\"4a4d2994-e7e0-4b29-a760-36235e6ba258\",\"arch\":\"x86_64\",\"zone\":\"fr-par-1\",\"compatible_commercial_types\":[\"DEV1-L\",\"DEV1-M\",\"DEV1-S\",\"DEV1-XL\",\"GP1-L\",\"GP1-M\",\"GP1-S\",\"GP1-XL\",\"GP1-XS\",\"STARDUST1-S\",\"START1-L\",\"START1-M\",\"START1-S\",\"START1-XS\",\"VC1L\",\"VC1M\",\"VC1S\",\"X64-120GB\",\"X64-15GB\",\"X64-30GB\",\"X64-60GB\"],\"label\":\"ubuntu_focal\",\"type\":\"instance_local\"}],\"total_count\":1}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 51.147726ms
[...]
- id: 38
  request:
    host: api.scaleway.com
    body: "{\"name\":\"snp-sharp-curran\",\"volume_id\":\"0f00d488-4e66-44cf-991e-e76edf0cf028\",\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\",\"volume_type\":\"l_ssd\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
    method: POST
  response:
    body: "{\"snapshot\": {\"id\": \"eb55a11b-a3f3-4633-a4b9-e14e91b7cd44\", \"name\": \"snp-sharp-curran\", \"volume_type\": \"l_ssd\", \"creation_date\": \"2025-09-05T15:46:39.746385+00:00\", \"modification_date\": \"2025-09-05T15:46:39.746385+00:00\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"size\": 15000000000, \"state\": \"available\", \"base_volume\": {\"id\": \"0f00d488-4e66-44cf-991e-e76edf0cf028\", \"name\": \"Ubuntu 20.04 Focal Fossa\"}, \"tags\": [], \"zone\": \"fr-par-1\", \"error_details\": null}, \"task\": {\"id\": \"6274144c-4711-425b-84e1-fac6e54c11a1\", \"description\": \"volume_snapshot\", \"status\": \"pending\", \"href_from\": \"/snapshots\", \"href_result\": \"snapshots/eb55a11b-a3f3-4633-a4b9-e14e91b7cd44\", \"started_at\": \"2025-09-05T15:46:40.272269+00:00\", \"terminated_at\": null, \"progress\": 0, \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: 729.72368ms
[...]
