---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    body: "{\"name\":\"srv-strange-einstein\",\"commercial_type\":\"DEV1-S\",\"image\":\"f974feac-abae-4365-b988-8ec7d1cec10d\",\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: "{\"server\": {\"id\": \"e73ba751-d501-46ac-8fcc-5d1d4c2886c4\", \"name\": \"srv-strange-einstein\", \"arch\": \"x86_64\", \"commercial_type\": \"DEV1-S\", \"boot_type\": \"local\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"hostname\": \"srv-strange-einstein\", \"image\": {\"id\": \"f974feac-abae-4365-b988-8ec7d1cec10d\", \"name\": \"Ubuntu Bionic Beaver\", \"organization\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"project\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"root_volume\": {\"id\": \"dd5f5c10-23b1-4c9c-8445-eb6740957c84\", \"name\": \"snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13\", \"volume_type\": \"l_ssd\", \"size\": 10000000000}, \"extra_volumes\": {}, \"public\": true, \"arch\": \"x86_64\", \"creation_date\": \"2019-03-05T10:13:15.974944+00:00\", \"modification_date\": \"2019-03-05T13:32:29.274319+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}, \"volumes\": {\"0\": {\"boot\": false, \"id\": \"92d7c654-0967-470b-872b-ad195637d5f8\", \"name\": \"snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13\", \"volume_type\": \"l_ssd\", \"export_uri\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"server\": {\"id\": \"e73ba751-d501-46ac-8fcc-5d1d4c2886c4\", \"name\": \"srv-strange-einstein\"}, \"size\": 20000000000, \"state\": \"available\", \"creation_date\": \"2025-09-05T15:46:11.256419+00:00\", \"modification_date\": \"2025-09-05T15:46:11.256419+00:00\", \"tags\": [], \"zone\": \"fr-par-1\"}}, \"tags\": [], \"state\": \"stopped\", \"protected\": false, \"state_detail\": \"\", \"public_ip\": null, \"public_ips\": [], \"mac_address\": \"de:00:00:c6:ec:c1\", \"routed_ip_enabled\": true, \"ipv6\": null, \"extra_networks\": [], \"dynamic_ip_required\": true, \"enable_ipv6\": false, \"private_ip\": null, \"creation_date\": \"2025-09-05T15:46:11.256419+00:00\", \"modification_date\": \"2025-09-05T15:46:11.256419+00:00\", \"bootscript\": null, \"security_group\": {\"id\": \"5881315f-2400-43a0-ac75-08adf6cb8c12\", \"name\": \"Default security group\"}, \"location\": null, \"maintenances\": [], \"allowed_actions\": [\"poweron\", \"backup\"], \"placement_group\": null, \"private_nics\": [], \"zone\": \"fr-par-1\", \"filesystems\": [], \"end_of_service\": false}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/e73ba751-d501-46ac-8fcc-5d1d4c2886c4
    status: 201 Created
    code: 201
    duration: 746.725154ms
- id: 1
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/e73ba751-d501-46ac-8fcc-5d1d4c2886c4/user_data
    method: GET
  response:
    body: "{\"user_data\": []}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 109.834815ms
- id: 2
  request:
    host: api.scaleway.com
    body: "on"
    headers:
      Content-Type:
      - text/plain
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/e73ba751-d501-46ac-8fcc-5d1d4c2886c4/user_data/cloud-init
    method: PATCH
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain
    status: 204 No Content
    code: 204
    duration: 110.201113ms
- id: 3
  request:
    host: api.scaleway.com
    body: world
    headers:
      Content-Type:
      - text/plain
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/e73ba751-d501-46ac-8fcc-5d1d4c2886c4/user_data/hello
    method: PATCH
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain
    status: 204 No Content
    code: 204
    duration: 100.63838ms
- id: 4
  request:
    host: api.scaleway.com
    body: way
    headers:
      Content-Type:
      - text/plain
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/e73ba751-d501-46ac-8fcc-5d1d4c2886c4/user_data/scale
    method: PATCH
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain
    status: 204 No Content
    code: 204
    duration: 102.886714ms
- id: 5
  request:
    host: api.scaleway.com
    body: tac
    headers:
      Content-Type:
      - text/plain
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/e73ba751-d501-46ac-8fcc-5d1d4c2886c4/user_data/tic
    method: PATCH
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain
    status: 204 No Content
    code: 204
    duration: 125.375948ms
[...]
- id: 15
  request:
    host: api.scaleway.com
    body: wozniak
    headers:
      Content-Type:
      - text/plain
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/e73ba751-d501-46ac-8fcc-5d1d4c2886c4/user_data/steve
    method: PATCH
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain
    status: 204 No Content
    code: 204
    duration: 111.50382ms
[...]
