---
version: 2
interactions:
- id: 0
  request:
    host: api.scaleway.com
    form:
      image_label:
      - ubuntu_focal
      order_by:
      - type_asc
      type:
      - unknown_type
      zone:
      - fr-par-1
    headers:
    url: https://api.scaleway.com/marketplace/v2/local-images?image_label=ubuntu_focal&order_by=type_asc&type=unknown_type&zone=fr-par-1
    method: GET
  response:
    body: "{\"local_images\":[{\"id\":\"4a4d2994-e7e0-4b29-a760-36235e6ba258\",\"arch\":\"x86_64\",\"zone\":\"fr-par-1\",\"compatible_commercial_types\":[\"DEV1-L\",\"DEV1-M\",\"DEV1-S\",\"DEV1-XL\",\"GP1-L\",\"GP1-M\",\"GP1-S\",\"GP1-XL\",\"GP1-XS\",\"STARDUST1-S\",\"START1-L\",\"START1-M\",\"START1-S\",\"START1-XS\",\"VC1L\",\"VC1M\",\"VC1S\",\"X64-120GB\",\"X64-15GB\",\"X64-30GB\",\"X64-60GB\"],\"label\":\"ubuntu_focal\",\"type\":\"instance_local\"},{\"id\":\"066aa37f-004d-417d-9506-323c63f3ec8a\",\"arch\":\"arm64\",\"zone\":\"fr-par-1\",\"compatible_commercial_types\":[\"COPARM1-2C-8G\",\"COPARM1-4C-16G\",\"COPARM1-8C-32G\",\"COPARM1-16C-64G\",\"COPARM1-32C-128G\"],\"label\":\"ubuntu_focal\",\"type\":\"instance_sbs\"},{\"id\":\"7f30a934-2f17-4868-b3a3-eb7a8b90792e\",\"arch\":\"x86_64\",\"zone\":\"fr-par-1\",\"compatible_commercial_types\":[\"DEV1-L\",\"DEV1-M\",\"DEV1-S\",\"DEV1-XL\",\"GP1-L\",\"GP1-M\",\"GP1-S\",\"GP1-XL\",\"GP1-XS\",\"START1-L\",\"START1-M\",\"START1-S\",\"START1-XS\",\"VC1L\",\"VC1M\",\"VC1S\",\"X64-120GB\",\"X64-15GB\",\"X64-30GB\",\"X64-60GB\",\"ENT1-XXS\",\"ENT1-XS\",\"ENT1-S\",\"ENT1-M\",\"ENT1-L\",\"ENT1-XL\",\"ENT1-2XL\",\"PRO2-XXS\",\"PRO2-XS\",\"PRO2-S\",\"PRO2-M\",\"PRO2-L\",\"STARDUST1-S\",\"PLAY2-MICRO\",\"PLAY2-NANO\",\"PLAY2-PICO\",\"POP2-2C-8G\",\"POP2-4C-16G\",\"POP2-8C-32G\",\"POP2-16C-64G\",\"POP2-32C-128G\",\"POP2-48C-192G\",\"POP2-64C-256G\",\"POP2-HM-2C-16G\",\"POP2-HM-4C-32G\",\"POP2-HM-8C-64G\",\"POP2-HM-16C-128G\",\"POP2-HM-32C-256G\",\"POP2-HM-48C-384G\",\"POP2-HM-64C-512G\",\"POP2-HC-2C-4G\",\"POP2-HC-4C-8G\",\"POP2-HC-8C-16G\",\"POP2-HC-16C-32G\",\"POP2-HC-32C-64G\",\"POP2-HC-48C-96G\",\"POP2-HC-64C-128G\",\"POP2-HN-3\",\"POP2-HN-5\",\"POP2-HN-10\"],\"label\":\"ubuntu_focal\",\"type\":\"instance_sbs\"}],\"total_count\":3}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 273.31643ms
- id: 1
  request:
    host: api.scaleway.com
    body: "{\"name\":\"srv-festive-minsky\",\"commercial_type\":\"DEV1-M\",\"image\":\"4a4d2994-e7e0-4b29-a760-36235e6ba258\",\"project\":\"105bdce1-64c0-48ab-899d-868455867ecf\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: "{\"server\": {\"id\": \"c03392bf-331e-46ea-adb2-71eed726f6d3\", \"name\": \"srv-festive-minsky\", \"arch\": \"x86_64\", \"commercial_type\": \"DEV1-M\", \"boot_type\": \"local\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"hostname\": \"srv-festive-minsky\", \"image\": {\"id\": \"4a4d2994-e7e0-4b29-a760-36235e6ba258\", \"name\": \"Ubuntu 20.04 Focal Fossa\", \"organization\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"project\": \"51b656e3-4865-41e8-adbc-0c45bdd780db\", \"root_volume\": {\"id\": \"37000787-865a-4306-8ac4-5a0b2e2fcbbe\", \"name\": \"Ubuntu 20.04 Focal Fossa\", \"volume_type\": \"l_ssd\", \"size\": 10000000000}, \"extra_volumes\": {}, \"public\": true, \"arch\": \"x86_64\", \"creation_date\": \"2025-06-25T15:47:39.547126+00:00\", \"modification_date\": \"2025-06-25T15:47:39.547126+00:00\", \"default_bootscript\": null, \"from_server\": \"\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}, \"volumes\": {\"0\": {\"boot\": false, \"id\": \"b8b82aaa-4ae4-413c-9b80-ca6d7e3f5ded\", \"name\": \"Ubuntu 20.04 Focal Fossa\", \"volume_type\": \"l_ssd\", \"export_uri\": null, \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"server\": {\"id\": \"c03392bf-331e-46ea-adb2-71eed726f6d3\", \"name\": \"srv-festive-minsky\"}, \"size\": 40000000000, \"state\": \"available\", \"creation_date\": \"2025-09-05T15:45:51.910836+00:00\", \"modification_date\": \"2025-09-05T15:45:51.910836+00:00\", \"tags\": [], \"zone\": \"fr-par-1\"}}, \"tags\": [], \"state\": \"stopped\", \"protected\": false, \"state_detail\": \"\", \"public_ip\": null, \"public_ips\": [], \"mac_address\": \"de:00:00:c6:ec:b7\", \"routed_ip_enabled\": true, \"ipv6\": null, \"extra_networks\": [], \"dynamic_ip_required\": true, \"enable_ipv6\": false, \"private_ip\": null, \"creation_date\": \"2025-09-05T15:45:51.910836+00:00\", \"modification_date\": \"2025-09-05T15:45:51.910836+00:00\", \"bootscript\": null, \"security_group\": {\"id\": \"5881315f-2400-43a0-ac75-08adf6cb8c12\", \"name\": \"Default security group\"}, \"location\": null, \"maintenances\": [], \"allowed_actions\": [\"poweron\", \"backup\"], \"placement_group\": null, \"private_nics\": [], \"zone\": \"fr-par-1\", \"filesystems\": [], \"end_of_service\": false}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/c03392bf-331e-46ea-adb2-71eed726f6d3
    status: 201 Created
    code: 201
    duration: 1.070261087s
- id: 2
  request:
    host: api.scaleway.com
    body: "{\"action\":\"backup\",\"name\":\"backup\"}"
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/c03392bf-331e-46ea-adb2-71eed726f6d3/action
    method: POST
  response:
    body: "{\"task\": {\"id\": \"01381e2e-f462-4b4d-be38-36fe9392a95a\", \"description\": \"instance_backup\", \"status\": \"pending\", \"href_from\": \"/servers/c03392bf-331e-46ea-adb2-71eed726f6d3/action\", \"href_result\": \"/images/b1c1d00b-e266-4068-9f4d-b1af5f9bf887\", \"started_at\": \"2025-09-05T15:45:52.806702+00:00\", \"terminated_at\": null, \"progress\": 0, \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/01381e2e-f462-4b4d-be38-36fe9392a95a
    status: 202 Accepted
    code: 202
    duration: 379.405719ms
- id: 3
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/b1c1d00b-e266-4068-9f4d-b1af5f9bf887
    method: GET
  response:
    body: "{\"image\": {\"id\": \"b1c1d00b-e266-4068-9f4d-b1af5f9bf887\", \"name\": \"backup\", \"organization\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"project\": \"105bdce1-64c0-48ab-899d-868455867ecf\", \"root_volume\": {\"id\": \"29ef6b5d-dc93-4433-a52f-c58b69f4c99c\", \"name\": \"backup_snap_0\", \"volume_type\": \"l_ssd\", \"size\": 40000000000}, \"extra_volumes\": {}, \"public\": false, \"arch\": \"x86_64\", \"creation_date\": \"2025-09-05T15:45:52.485238+00:00\", \"modification_date\": \"2025-09-05T15:45:52.485238+00:00\", \"default_bootscript\": null, \"from_server\": \"c03392bf-331e-46ea-adb2-71eed726f6d3\", \"state\": \"available\", \"tags\": [], \"zone\": \"fr-par-1\"}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 96.574075ms
[...]
- id: 5
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/c03392bf-331e-46ea-adb2-71eed726f6d3
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 187.373564ms
- id: 6
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/b8b82aaa-4ae4-413c-9b80-ca6d7e3f5ded
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 167.314405ms
[...]
- id: 8
  request:
    host: api.scaleway.com
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/29ef6b5d-dc93-4433-a52f-c58b69f4c99c
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: 163.171103ms
