---
version: 2
interactions:
- request:
    body: '{"name":"instance_utils_test","project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","from_empty":{"size":20000000000},"tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"id":"916cf57b-cc1b-4acc-b860-a19c3b06647e", "name":"instance_utils_test",
      "type":"sbs_5k", "size":20000000000, "project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "created_at":"2023-10-10T16:44:39.680346Z", "updated_at":"2023-10-10T16:44:39.680346Z",
      "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[],
      "specs":{"perf_iops":5000, "class":"sbs"}, "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 0.1ms
[...]
- request:
    body: '{"name":"instance_utils_test","commercial_type":"PRO2-XXS","image":"81b9475d-e1b5-43c2-ac48-4c1a3b640686","volumes":{"0":{"id":"916cf57b-cc1b-4acc-b860-a19c3b06647e","volume_type":"sbs_volume"}},"project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: '{"server": {"id": "0bbd8da7-0dbd-4099-9454-90f6f6fb297a", "name": "instance_utils_test",
      "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", "organization":
      "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "hostname": "instance-utils-test", "image": {"id": "81b9475d-e1b5-43c2-ac48-4c1a3b640686",
      "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "235f1b04-c3f6-4245-9530-43fb642ff96d",
      "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "unified", "size": 10000000000},
      "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2023-08-08T13:35:09.293489+00:00",
      "modification_date": "2023-08-08T13:35:09.293489+00:00", "default_bootscript":
      null, "from_server": null, "state": "available", "tags": [], "zone": "fr-par-1"},
      "volumes": {"0": {"boot": false, "volume_type": "sbs_volume", "id": "916cf57b-cc1b-4acc-b860-a19c3b06647e"}},
      "tags": [], "state": "stopped", "protected": false, "state_detail": "", "public_ip":
      null, "public_ips": [], "mac_address": "de:00:00:28:34:a7", "routed_ip_enabled":
      false, "ipv6": null, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6":
      false, "private_ip": null, "creation_date": "2023-10-10T16:44:40.300039+00:00",
      "modification_date": "2023-10-10T16:44:40.300039+00:00", "bootscript": {"id":
      "fdfe150f-a870-4ce4-b432-9f56b5b995c1", "public": true, "title": "x86_64 mainline
      4.4.230 rev1", "architecture": "x86_64", "organization": "11111111-1111-4111-8111-111111111111",
      "project": "11111111-1111-4111-8111-111111111111", "kernel": "http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230",
      "dtb": "", "initrd": "http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz",
      "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "default":
      true, "zone": "fr-par-1"}, "security_group": {"id": "0fe819c3-274d-472a-b3f5-ddb258d2d8bb",
      "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions":
      ["poweron", "backup", "enable_routed_ip"], "placement_group": null, "private_nics":
      [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/0bbd8da7-0dbd-4099-9454-90f6f6fb297a
    status: 201 Created
    code: 201
    duration: 0.1ms
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/916cf57b-cc1b-4acc-b860-a19c3b06647e
    method: GET
  response:
    body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_volume",
      "resource_id": "916cf57b-cc1b-4acc-b860-a19c3b06647e"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: 0.1ms
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/916cf57b-cc1b-4acc-b860-a19c3b06647e
    method: GET
  response:
    body: '{"id":"916cf57b-cc1b-4acc-b860-a19c3b06647e", "name":"instance_utils_test",
      "type":"sbs_5k", "size":20000000000, "project_id":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "created_at":"2023-10-10T16:44:39.680346Z", "updated_at":"2023-10-10T16:44:40.385412Z",
      "references":[{"id":"a400f5c5-1ed2-4e68-9b9e-5422efe3d560", "product_resource_type":"instance_server",
      "product_resource_id":"0bbd8da7-0dbd-4099-9454-90f6f6fb297a", "created_at":"2023-10-10T16:44:40.385412Z",
      "type":"exclusive", "status":"attached"}], "parent_snapshot_id":null, "status":"in_use",
      "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 0.1ms
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/0bbd8da7-0dbd-4099-9454-90f6f6fb297a
    method: GET
  response:
    body: '{"server": {"id": "0bbd8da7-0dbd-4099-9454-90f6f6fb297a", "name": "instance_utils_test",
      "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", "organization":
      "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "hostname": "instanc[...]
[...]
