---
version: 1
interactions:
- request:
    body: '{"name":"instance_utils_test","image":"f974feac-abae-4365-b988-8ec7d1cec10d","organization":"d429f6a1-c0a6-48cf-8b5a-1f9dfe76ffd3"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - f9f4770d-e8cf-4137-b1de-9cda55e199c3
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: '{"server": {"allowed_actions": ["poweron", "backup"], "maintenances": [],
      "state_detail": "", "image": {"creation_date": "2019-03-05T10:13:15.974944+00:00",
      "default_bootscript": {"kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.9-4.9.93-rev1/vmlinuz-4.9.93",
      "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz", "default":
      false, "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "architecture":
      "x86_64", "title": "x86_64 mainline 4.9.93 rev1", "dtb": "", "organization":
      "11111111-1111-4111-8111-111111111111", "id": "15fbd2f7-a0f9-412b-8502-6a44da8d98b8",
      "public": true}, "from_server": null, "arch": "x86_64", "id": "f974feac-abae-4365-b988-8ec7d1cec10d",
      "root_volume": {"size": 10000000000, "id": "dd5f5c10-23b1-4c9c-8445-eb6740957c84",
      "volume_type": "l_ssd", "name": "snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13"},
      "name": "Ubuntu Bionic Beaver", "modification_date": "2019-03-05T13:32:29.274319+00:00",
      "state": "available", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "extra_volumes": {}, "public": true}, "creation_date": "2019-05-22T08:52:41.193508+00:00",
      "public_ip": null, "private_ip": null, "id": "58188161-d1ce-470a-bb0f-aefe8f74f346",
      "dynamic_ip_required": true, "modification_date": "2019-05-22T08:52:41.543062+00:00",
      "enable_ipv6": false, "hostname": "instance-utils-test", "state": "stopped",
      "bootscript": {"kernel": "http://169.254.42.24/kernel/x86_64-mainline-lts-4.9-4.9.93-rev1/vmlinuz-4.9.93",
      "initrd": "http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.14.6.gz", "default":
      false, "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "architecture":
      "x86_64", "title": "x86_64 mainline 4.9.93 rev1", "dtb": "", "organization":
      "11111111-1111-4111-8111-111111111111", "id": "15fbd2f7-a0f9-412b-8502-6a44da8d98b8",
      "public": true}, "location": null, "boot_type": "bootscript", "ipv6": null,
      "commercial_type": "START1-S", "tags": [], "arch": "x86_64", "extra_networks":
      [], "compute_cluster": null, "name": "instance_utils_test", "protected": false,
      "volumes": {"0": {"size": 50000000000, "state": "available", "name": "snapshot-de728daa-0bf6-4c64-abf5-a9477e791c83-2019-03-05_10:13",
      "modification_date": "2019-05-22T08:52:41.462047+00:00", "organization": "d429f6a1-c0a6-48cf-8b5a-1f9dfe76ffd3",
      "export_uri": null, "creation_date": "2019-05-22T08:52:41.193508+00:00", "id":
      "afeb6f55-7f8f-4c39-bf29-0b5a37a3f37c", "volume_type": "l_ssd", "server": {"id":
      "58188161-d1ce-470a-bb0f-aefe8f74f346", "name": "instance_utils_test"}}}, "security_group":
      {"id": "9f073e03-5511-4863-ae23-9cb0deb82426", "name": "Default security group"},
      "organization": "d429f6a1-c0a6-48cf-8b5a-1f9dfe76ffd3"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://cp-par1.scaleway.com/servers/58188161-d1ce-470a-bb0f-aefe8f74f346
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"organization":"d429f6a1-c0a6-48cf-8b5a-1f9dfe76ffd3"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - f9f4770d-e8cf-4137-b1de-9cda55e199c3
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip": {"organization": "d429f6a1-c0a6-48cf-8b5a-1f9dfe76ffd3", "reverse":
      null, "id": "71452cea-c051-4627-9210-c6ed506de400", "server": null, "address":
      "163.172.137.8"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://cp-par1.scaleway.com/ips/71452cea-c051-4627-9210-c6ed506de400
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"server":"58188161-d1ce-470a-bb0f-aefe8f74f346"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - f9f4770d-e8cf-4137-b1de-9cda55e199c3
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/71452cea-c051-4627-9210-c6ed506de400
    method: PATCH
  response:
    body: '{"ip": {"organization": "d429f6a1-c0a6-48cf-8b5a-1f9dfe76ffd3", "reverse":
      null, "id": "71452cea-c051-4627-9210-c6ed506de400", "server": {"id": "58188161-d1ce-470a-bb0f-aefe8f74f346",
      "name": "instance_utils_test"}, "address": "163.172.137.8"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      X-Auth-Token:
      - f9f4770d-e8cf-4137-b1de-9cda55e199c3
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/58188161-d1ce-470a-bb0f-aefe8f74f346
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      X-Auth-Token:
      - f9f4770d-e8cf-4137-b1de-9cda55e199c3
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/afeb6f55-7f8f-4c39-bf29-0b5a37a3f37c
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
