---
version: 1
interactions:
- request:
    body: '{"name":"instance_utils_test","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","from_empty":{"size":20000000000},"tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"id":"cd98ab1d-aeb5-4d25-887c-a1acb2c93050","name":"instance_utils_test","type":"sbs_5k","size":20000000000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2025-07-03T22:23:14.552271Z","updated_at":"2025-07-03T22:23:14.552271Z","references":[],"parent_snapshot_id":null,"status":"creating","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"instance_utils_test","commercial_type":"PRO2-XXS","image":"81b9475d-e1b5-43c2-ac48-4c1a3b640686","volumes":{"0":{"id":"cd98ab1d-aeb5-4d25-887c-a1acb2c93050","volume_type":"sbs_volume"}},"project":"fa1e3217-dc80-42ac-85c3-3f034b78b552"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: '{"server": {"id": "70c5b5db-b7ac-4e3e-a78b-2eafbd9c191f", "name": "instance_utils_test",
      "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", "organization":
      "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "hostname": "instance-utils-test", "image": {"id": "81b9475d-e1b5-43c2-ac48-4c1a3b640686",
      "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "235f1b04-c3f6-4245-9530-43fb642ff96d",
      "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "l_ssd", "size": 10000000000},
      "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2023-08-08T13:35:09.293489+00:00",
      "modification_date": "2023-08-08T13:35:09.293489+00:00", "default_bootscript":
      null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"},
      "volumes": {"0": {"boot": false, "volume_type": "sbs_volume", "id": "cd98ab1d-aeb5-4d25-887c-a1acb2c93050",
      "zone": "fr-par-1"}}, "tags": [], "state": "stopped", "protected": false, "state_detail":
      "", "public_ip": null, "public_ips": [], "mac_address": "de:00:00:bb:05:13",
      "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required":
      true, "enable_ipv6": false, "private_ip": null, "creation_date": "2025-07-03T22:23:14.911680+00:00",
      "modification_date": "2025-07-03T22:23:14.911680+00:00", "bootscript": null,
      "security_group": {"id": "dccbeacb-b588-4c47-8eaf-b05d1469d3cb", "name": "Default
      security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron",
      "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1",
      "filesystems": [], "end_of_service": false}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/70c5b5db-b7ac-4e3e-a78b-2eafbd9c191f
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/cd98ab1d-aeb5-4d25-887c-a1acb2c93050
    method: GET
  response:
    body: '{"message": "resource is not found", "type": "not_found", "resource": "instance_volume",
      "resource_id": "cd98ab1d-aeb5-4d25-887c-a1acb2c93050"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/cd98ab1d-aeb5-4d25-887c-a1acb2c93050
    method: GET
  response:
    body: '{"id":"cd98ab1d-aeb5-4d25-887c-a1acb2c93050","name":"instance_utils_test","type":"sbs_5k","size":20000000000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2025-07-03T22:23:14.552271Z","updated_at":"2025-07-03T22:23:15.062540Z","references":[{"id":"e90315df-f0ee-43e9-a535-def7db513d89","product_resource_type":"instance_server","product_resource_id":"70c5b5db-b7ac-4e3e-a78b-2eafbd9c191f","created_at":"2025-07-03T22:23:15.062540Z","type":"exclusive","status":"attached"}],"parent_snapshot_id":null,"status":"in_use","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"volume_id":"cd98ab1d-aeb5-4d25-887c-a1acb2c93050"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/70c5b5db-b7ac-4e3e-a78b-2eafbd9c191f/detach-volume
    method: POST
  response:
    body: '{"server": {"id": "70c5b5db-b7ac-4e3e-a78b-2eafbd9c191f", "name": "instance_utils_test",
      "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", "organization":
      "fa1e3217-dc80-42ac-85c3-3f034b78b552", [...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/70c5b5db-b7ac-4e3e-a78b-2eafbd9c191f
    method: GET
  response:
    body: '{"server": {"id": "70c5b5db-b7ac-4e3e-a78b-2eafbd9c191f", "name": "instance_utils_test",
      "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", "organization":
      "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552",
      "hostname": "instanc[...]
[...]
- request:
    body: '{"volume_id":"cd98ab1d-aeb5-4d25-887c-a1acb2c93050","volume_type":"sbs_volume"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/70c5b5db-b7ac-4e3e-a78b-2eafbd9c191f/attach-volume
    method: POST
  response:
    body: '{"server": {"id": "70c5b5db-b7ac-4e3e-a78b-2eafbd9c191f", "name": "instance_utils_test",
      "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", [...]
[...]
