---
version: 2
interactions:
- request:
    body: '{"name":"instance_utils_test","commercial_type":"PRO2-XXS","image":"81b9475d-e1b5-43c2-ac48-4c1a3b640686","project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: '{"server": {"id": "d98c50d4-04b9-405d-be55-40dc42c5b344", "name": "instance_utils_test",
      "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", "organization":
      "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "hostname": "instance-utils-test", "image": {"id": "81b9475d-e1b5-43c2-ac48-4c1a3b640686",
      "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "235f1b04-c3f6-4245-9530-43fb642ff96d",
      "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "unified", "size": 10000000000},
      "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2023-08-08T13:35:09.293489+00:00",
      "modification_date": "2023-08-08T13:35:09.293489+00:00", "default_bootscript":
      null, "from_server": null, "state": "available", "tags": [], "zone": "fr-par-1"},
      "volumes": {"0": {"boot": false, "id": "6ced1bf4-b4f1-4e86-bd2d-0374a9626fc2",
      "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "b_ssd", "export_uri":
      null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "server": {"id": "d98c50d4-04b9-405d-be55-40dc42c5b344", "name": "instance_utils_test"},
      "size": 10000000000, "state": "available", "creation_date": "2023-10-10T09:15:38.261953+00:00",
      "modification_date": "2023-10-10T09:15:38.261953+00:00", "tags": [], "zone":
      "fr-par-1"}}, "tags": [], "state": "stopped", "protected": false, "state_detail":
      "", "public_ip": null, "public_ips": [], "mac_address": "de:00:00:28:23:37",
      "routed_ip_enabled": false, "ipv6": null, "extra_networks": [], "dynamic_ip_required":
      true, "enable_ipv6": false, "private_ip": null, "creation_date": "2023-10-10T09:15:38.261953+00:00",
      "modification_date": "2023-10-10T09:15:38.261953+00:00", "bootscript": {"id":
      "fdfe150f-a870-4ce4-b432-9f56b5b995c1", "public": true, "title": "x86_64 mainline
      4.4.230 rev1", "architecture": "x86_64", "organization": "11111111-1111-4111-8111-111111111111",
      "project": "11111111-1111-4111-8111-111111111111", "kernel": "http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230",
      "dtb": "", "initrd": "http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz",
      "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "default":
      true, "zone": "fr-par-1"}, "security_group": {"id": "0fe819c3-274d-472a-b3f5-ddb258d2d8bb",
      "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions":
      ["poweron", "backup", "enable_routed_ip"], "placement_group": null, "private_nics":
      [], "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/d98c50d4-04b9-405d-be55-40dc42c5b344
    status: 201 Created
    code: 201
    duration: 0.1ms
- request:
    body: '{"project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b","type":"unknown_iptype"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip": {"id": "785a05a2-5ca1-48c2-bea1-8ec4b358853b", "address": "51.15.243.218",
      "prefix": null, "reverse": null, "server": null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "zone": "fr-par-1", "type":
      "nat", "state": "attached", "tags": []}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/785a05a2-5ca1-48c2-bea1-8ec4b358853b
    status: 201 Created
    code: 201
    duration: 0.1ms
- request:
    body: '{"type":"unknown_iptype","server":"d98c50d4-04b9-405d-be55-40dc42c5b344"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/785a05a2-5ca1-48c2-bea1-8ec4b358853b
    method: PATCH
  response:
    body: '{"ip": {"id": "785a05a2-5ca1-48c2-bea1-8ec4b358853b", "address": "51.15.243.218",
      "prefix": null, "reverse": null, "server": {"id": "d98c50d4-04b9-405d-be55-40dc42c5b344",
      "name": "instance_utils_test"}, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "zone": "fr-par-1", "type":
      "nat", "state": "attached", "tags": []}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 0.1ms
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/6ced1bf4-b4f1-4e86-bd2d-0374a9626fc2
    method: GET
  response:
    body: '{"volume": {"id": "6ced1bf4-b4f1-4e86-bd2d-0374a9626fc2", "name": "Ubuntu
      22.04 Jammy Jellyfish", "volume_type": "b_ssd", "export_uri": null, "organization":
      "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "server": {"id": "d98c50d4-04b9-405d-be55-40dc42c5b344", "name": "instance_utils_test"},
      "size": 10000000000, "state": "available", "creation_date": "2023-10-10T09:15:38.261953+00:00",
      "modification_date": "2023-10-10T09:15:38.261953+00:00", "tags": [], "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 0.1ms
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/d98c50d4-04b9-405d-be55-40dc42c5b344
    method: GET
  response:
    body: '{"server": {"id": "d98c50d4-04b9-405d-be55-40dc42c5b344", "name": "instance_utils_test",
      "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", "organization":
      "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "hostname": "instanc[...]
[...]
