---
version: 1
interactions:
- request:
    body: '{"name":"instance_utils_test","commercial_type":"PRO2-XXS","image":"81b9475d-e1b5-43c2-ac48-4c1a3b640686","project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
    method: POST
  response:
    body: '{"server": {"id": "42faf3a8-03b8-4d1c-a5c3-d241f39b5fbd", "name": "instance_utils_test",
      "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", "organization":
      "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "hostname": "instance-utils-test", "image": {"id": "81b9475d-e1b5-43c2-ac48-4c1a3b640686",
      "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db",
      "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "235f1b04-c3f6-4245-9530-43fb642ff96d",
      "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "unified", "size": 10000000000},
      "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2023-08-08T13:35:09.293489+00:00",
      "modification_date": "2023-08-08T13:35:09.293489+00:00", "default_bootscript":
      null, "from_server": null, "state": "available", "tags": [], "zone": "fr-par-1"},
      "volumes": {"0": {"boot": false, "id": "1ab1d52a-d5eb-4a92-9491-a016ebaae320",
      "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "b_ssd", "export_uri":
      null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "server": {"id": "42faf3a8-03b8-4d1c-a5c3-d241f39b5fbd", "name": "instance_utils_test"},
      "size": 10000000000, "state": "available", "creation_date": "2024-05-20T13:10:01.233344+00:00",
      "modification_date": "2024-05-20T13:10:01.233344+00:00", "tags": [], "zone":
      "fr-par-1"}}, "tags": [], "state": "stopped", "protected": false, "state_detail":
      "", "public_ip": null, "public_ips": [], "mac_address": "de:00:00:53:3d:e5",
      "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required":
      true, "enable_ipv6": false, "private_ip": null, "creation_date": "2024-05-20T13:10:01.233344+00:00",
      "modification_date": "2024-05-20T13:10:01.233344+00:00", "bootscript": {"id":
      "fdfe150f-a870-4ce4-b432-9f56b5b995c1", "public": true, "title": "x86_64 mainline
      4.4.230 rev1", "architecture": "x86_64", "organization": "11111111-1111-4111-8111-111111111111",
      "project": "11111111-1111-4111-8111-111111111111", "kernel": "http://10.194.3.9/kernel/x86_64-mainline-lts-4.4-4.4.230-rev1/vmlinuz-4.4.230",
      "dtb": "", "initrd": "http://10.194.3.9/initrd/initrd-Linux-x86_64-v3.14.6.gz",
      "bootcmdargs": "LINUX_COMMON scaleway boot=local nbd.max_part=16", "default":
      true, "zone": "fr-par-1"}, "security_group": {"id": "0fe819c3-274d-472a-b3f5-ddb258d2d8bb",
      "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions":
      ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/42faf3a8-03b8-4d1c-a5c3-d241f39b5fbd
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"project":"ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips
    method: POST
  response:
    body: '{"ip": {"id": "eed4575b-90e5-4102-b956-df874c911e2b", "address": "212.47.248.223",
      "prefix": null, "reverse": null, "server": null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "zone": "fr-par-1", "type":
      "routed_ipv4", "state": "detached", "tags": [], "ipam_id": "ec78889e-5491-45e1-9ad0-5b2b14e6cdd2"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/eed4575b-90e5-4102-b956-df874c911e2b
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"server":"42faf3a8-03b8-4d1c-a5c3-d241f39b5fbd"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/ips/eed4575b-90e5-4102-b956-df874c911e2b
    method: PATCH
  response:
    body: '{"ip": {"id": "eed4575b-90e5-4102-b956-df874c911e2b", "address": "212.47.248.223",
      "prefix": null, "reverse": null, "server": {"id": "42faf3a8-03b8-4d1c-a5c3-d241f39b5fbd",
      "name": "instance_utils_test"}, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "zone": "fr-par-1", "type":
      "routed_ipv4", "state": "attached", "tags": [], "ipam_id": "ec78889e-5491-45e1-9ad0-5b2b14e6cdd2"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/1ab1d52a-d5eb-4a92-9491-a016ebaae320
    method: GET
  response:
    body: '{"volume": {"id": "1ab1d52a-d5eb-4a92-9491-a016ebaae320", "name": "Ubuntu
      22.04 Jammy Jellyfish", "volume_type": "b_ssd", "export_uri": null, "organization":
      "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b",
      "server": {"id": "42faf3a8-03b8-4d1c-a5c3-d241f39b5fbd", "name": "instance_utils_test"},
      "size": 10000000000, "state": "available", "creation_date": "2024-05-20T13:10:01.233344+00:00",
      "modification_date": "2024-05-20T13:10:01.233344+00:00", "tags": [], "zone":
      "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"volume_id":"1ab1d52a-d5eb-4a92-9491-a016ebaae320"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/42faf3a8-03b8-4d1c-a5c3-d241f39b5fbd/detach-volume
    method: POST
  response:
    body: '{"server": {"id": "42faf3a8-03b8-4d1c-a5c3-d241f39b5fbd", "name": "instance_utils_test",
      "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", "organization":
      "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", [...]
[...]
- request:
    body: '{"volume_id":"1ab1d52a-d5eb-4a92-9491-a016ebaae320","volume_type":"b_ssd"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/42faf3a8-03b8-4d1c-a5c3-d241f39b5fbd/attach-volume
    method: POST
  response:
    body: '{"server": {"id": "42faf3a8-03b8-4d1c-a5c3-d241f39b5fbd", "name": "instance_utils_test",
      "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", "orga[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/42faf3a8-03b8-4d1c-a5c3-d241f39b5fbd
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
[...]
