---
version: 1
interactions:
- request:
    body: '{"name":"test volume","organization":"d429f6a1-c0a6-48cf-8b5a-1f9dfe76ffd3","volume_type":"l_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"size": 20000000000, "state": "available", "name": "test volume",
      "modification_date": "2019-06-19T15:22:50.083278+00:00", "organization": "d429f6a1-c0a6-48cf-8b5a-1f9dfe76ffd3",
      "export_uri": null, "creation_date": "2019-06-19T15:22:50.083278+00:00", "id":
      "f5f47e99-c0dc-40c9-be24-c3fc8294af08", "volume_type": "l_ssd", "server": null}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://cp-par1.scaleway.com/volumes/f5f47e99-c0dc-40c9-be24-c3fc8294af08
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/f5f47e99-c0dc-40c9-be24-c3fc8294af08
    method: GET
  response:
    body: '{"volume": {"size": 20000000000, "state": "available", "name": "test volume",
      "modification_date": "2019-06-19T15:22:50.083278+00:00", "organization": "d429f6a1-c0a6-48cf-8b5a-1f9dfe76ffd3",
      "export_uri": null, "creation_date": "2019-06-19T15:22:50.083278+00:00", "id":
      "f5f47e99-c0dc-40c9-be24-c3fc8294af08", "volume_type": "l_ssd", "server": null}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
