---
version: 1
interactions:
- request:
    body: '{"name":"test volume","organization":"951df375-e094-4d26-97c1-ba548eeb9c42","volume_type":"l_ssd","size":20000000000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
    method: POST
  response:
    body: '{"volume": {"id": "fd5ad3da-3123-4726-9a2b-c7647bc89b04", "name": "test
      volume", "volume_type": "l_ssd", "export_uri": null, "organization": "951df375-e094-4d26-97c1-ba548eeb9c42",
      "server": null, "size": 20000000000, "state": "available", "creation_date":
      "2020-05-20T12:39:42.548392+00:00", "modification_date": "2020-05-20T12:39:42.548392+00:00",
      "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://cp-par1.scaleway.com/volumes/fd5ad3da-3123-4726-9a2b-c7647bc89b04
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"some new volume name"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/fd5ad3da-3123-4726-9a2b-c7647bc89b04
    method: PATCH
  response:
    body: '{"volume": {"id": "fd5ad3da-3123-4726-9a2b-c7647bc89b04", "name": "some
      new volume name", "volume_type": "l_ssd", "export_uri": null, "organization":
      "951df375-e094-4d26-97c1-ba548eeb9c42", "server": null, "size": 20000000000,
      "state": "available", "creation_date": "2020-05-20T12:39:42.548392+00:00", "modification_date":
      "2020-05-20T12:39:42.548392+00:00", "zone": "fr-par-1"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
