name: pull-request

on:
- pull_request
- merge_group

jobs:
  unit-test:
    strategy:
      matrix:
        go-version: [1.24.x, 1.25.x]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    # Checkout should always be before setup-go to ensure caching is working
    - name: checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 1
    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: ${{ matrix.go-version }}
    - name: Run unit tests
      run: go test -v ./...

  build-arch-test:
    strategy:
      matrix:
        go-version: [1.24.x, 1.25.x]
        platform: [ubuntu-latest]
        arch: [386, amd64, arm, arm64]
    runs-on: ${{ matrix.platform }}
    steps:
    # Checkout should always be before setup-go to ensure caching is working
    - name: checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 1
    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: ${{ matrix.go-version }}
    - name: Test to build binary
      run: GOARCH=${{ matrix.arch }} go build ./...

  build-platform-test:
    strategy:
      matrix:
        go-version: [1.24.x, 1.25.x]
        platform: [windows-latest, macos-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    # Checkout should always be before setup-go to ensure caching is working
    - name: checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 1
    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: ${{ matrix.go-version }}
    - name: Test to build binary
      run: go build ./...
